{% extends "base.twig" %}


{% block content %}

<h2>Forums</h2>

<table>
    <tr>
        <th>Topic</th>
        <th>Threads</th>
        <th>Posts</th>
    </tr>

    {% for category in categories %}
    <tr>
        <td>
            <a href="/forums/{{ category.slug }}">{{ category.name }}</a>
            <br />
            {{ category.description_text }}
        </td>

        <td>{{ category.topic_count }}</td>
        <td>{{ category.post_count }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}


{% block sidebar %}

<h2>Latest topics</h2>

<ul>

    {% for topic in latestTopics %}
    <li>
        <a href="/forums/{{ topic.slug }}">{{ topic.title }}</a>
    </li>
    {% endfor %}

</ul>

{% endblock %}