{% extends "base.twig" %}


{% block content %}

<table class="u-full-width">
    <tr>
        <th class="center"></th>
        <th class="u-full-width">Topic</th>
        <th class="center">Replies</th>
        <th class="center">Views</th>
        <th class="right">Activity</th>
    </tr>

    {% for topic in topics %}
    <tr>
        <td class="center nobr">
            {% if topic.unseen == true %}
            <span title="unseen">⭐</span>
            {% endif %}

            {% if topic.pinned == true %}
            <span title="pinned">📌</span>
            {% endif %}

            {% if topic.closed == true %}
            <span title="closed">🔒</span>
            {% endif %}

            {% if topic.archived == true %}
            <span title="archived">🗃️</span>
            {% endif %}
        </td>

        <td>
            <a href="/boards/{{ category.slug}}/{{ topic.slug }}">{{ topic.title }}</a>

            {% if topic.tags is not empty %}
            <br />

            {% for tag in topic.tags %}
            <a href="/tags/{{ tag }}">{{ tag }}</a>

            {% endfor %}
            {% endif %}

        </td>

        <td class="center">{{ topic.reply_count }}</td>
        <td class="center">{{ topic.views }}</td>

        {% if topic.last_posted_at is not null %}
        <td class="right nobr">{{ topic.last_posted_at|relativeTime }}</td>
        {% else %}
        <td class="right nobr">{{ topic.created_at|relativeTime }}</td>
        {% endif %}

    </tr>
    {% endfor %}

</table>

{% endblock %}


{% block sidebar %}

{{ include("discourse/forumSidebar.twig") }}

{% endblock %}