{% extends "base.twig" %}

{% block content %}

{# ratio watch: unblockable shaming notice #}
{% if data.extra.RatioWatchEnds %}
<div class="alertbar error">
    {{ data.core.username }} is currently on ratio watch!
    They must upload {{ ((data.extra.Downloaded * data.extra.RequiredRatio) - data.extra.Uploaded)|get_size }}
    in the next {{ data.extra.RatioWatchEnds|time_diff }}
    or they'll be unable to download any more torrents.
    While on ratio watch, they downloaded {{ (data.extra.Downloaded - data.extra.RatioWatchDownload)|get_size }}.
    Please kindly encourage them to seed their torrents and help the network grow.
</div>
{% endif %}


{# preview mode #}
{% if previewMode %}
<div class="alertbar info">
    You're viewing your profile in preview mode.
    Here's what it looks like to another user.
</div>
{% endif %}


<section>
{# profile title #}
{% if data.extra.InfoTitle is not empty %}
<h2>{{ data.extra.InfoTitle }}</h2>
{% else %}
<h2>Profile for {{ data.core.username }}</h2>
{% endif %}

{# profile content #}
{% if data.extra.Info is not empty %}
{{ data.extra.Info|parse }}
{% else %}
<p>This profile is empty. :(</p>
{% endif %}
</section>


{# recent snatches #}
{% if siteOptions.recentSnatches and recentSnatches is not empty %}
<section id="recentSnatches">

<h3>Recent snatches</h3>

<div class="recentTorrentActivity">
{% for item in recentSnatches %}
<div>
  <a href="/torrents/{{ item.id }}">
    <img src="{{ processImage(item.picture, "thumb") }}" alt="{{ item.title }}" title="{{ item.title }}" width="100%">
  </a>
</div>
{% endfor %}
</div>
</section>
{% endif %}


{# recent uploads #}
{% if siteOptions.recentUploads and recentUploads is not empty %}
<section id="recentUploads">

<h3>Recent uploads</h3>
<div class="recentTorrentActivity">

{% for item in recentUploads %}
<div>
  <a href="/torrents/{{ item.id }}">
    <img src="{{ processImage(item.picture, "thumb") }}" alt="{{ item.title }}" title="{{ item.title }}" width="100%">
  </a>
</div>
{% endfor %}
</div>
</section>
{% endif %}


{# recent requests #}
{% if siteOptions.recentRequests and recentRequests is not empty %}
<section id="recentRequests">

<h3>Recent requests</h3>
<div class="recentTorrentActivity">

{% for item in recentRequests %}
<div>
  <a href="/torrents/{{ item.id }}">
    <img src="{{ processImage(item.picture, "thumb") }}" alt="{{ item.title }}" title="{{ item.title }}" width="100%">
  </a>
</div>
{% endfor %}
</div>
</section>
{% endif %}


{# recent requests #}
{#
// Requests
if (empty($user['DisableRequests']) && check_paranoia_here('requestsvoted_list')) {
    $SphQL = new SphinxqlQuery();
    $SphQLResult = $SphQL->select('id, votes, bounty')
    ->from('requests, requests_delta')
    ->where('userid', $UserID)
    ->where('torrentid', 0)
    ->order_by('votes', 'desc')
    ->order_by('bounty', 'desc')
    ->limit(0, 100, 100) // Limit to 100 requests
    ->query();
    if ($SphQLResult->has_results()) {
        $SphRequests = $SphQLResult->to_array('id', MYSQLI_ASSOC); ?>
  <div class="box" id="requests_box">
    <div class="head">
      Requests <span class="u-pull-right"><a data-toggle-target="#requests" class="brackets">Show</a></span>
    </div>
    <div id="requests" class="hidden">
      <table cellpadding="6" cellspacing="1" border="0" width="100%">
        <tr class="colhead_dark">
          <td style="width: 48%;">
            <strong>Request Name</strong>
          </td>
          <td>
            <strong>Vote</strong>
          </td>
          <td>
            <strong>Bounty</strong>
          </td>
          <td>
            <strong>Added</strong>
          </td>
        </tr>
        <?php
    $Requests = Requests::get_requests(array_keys($SphRequests));
        foreach ($SphRequests as $RequestID => $SphRequest) {
            $Request = $Requests[$RequestID];
            $VotesCount = $SphRequest['votes'];
            $Bounty = $SphRequest['bounty'] * 1024; // Sphinx stores bounty in kB
            $CategoryName = $Categories[$Request['CategoryID'] - 1];

            if ($CategoryName == 'Music') {
                $ArtistForm = Requests::get_artists($RequestID);
                $ArtistLink = Artists::display_artists($ArtistForm, true, true);
                $FullName = "$ArtistLink<a href=\"requests.php?action=view&amp;id=$RequestID\">$Request[Title] [$Request[Year]]</a>";
            } elseif ($CategoryName == 'Audiobooks' || $CategoryName == 'Comedy') {
                $FullName = "<a href=\"requests.php?action=view&amp;id=$RequestID\">$Request[Title] [$Request[Year]]</a>";
            } else {
                if (!$Request['Title']) {
                    $Request['Title'] = $Request['Title2'];
                }
                if (!$Request['Title']) {
                    $Request['Title'] = $Request['TitleJP'];
                }
                $FullName = "<a href=\"requests.php?action=view&amp;id=$RequestID\">$Request[Title]</a>";
            } ?>
        <tr class="row">
          <td>
            <?=$FullName ?>
            <div class="tags">
              <?php
      $Tags = $Request['Tags'];
            $TagList = [];
            foreach ($Tags as $TagID => $TagName) {
                $TagList[] = "<a href=\"requests.php?tags=$TagName\">".\Gazelle\Text::esc($TagName).'</a>';
            }
            $TagList = implode(', ', $TagList); ?>
              <?=$TagList?>
            </div>
          </td>
          <td>
            <span id="vote_count_<?=$RequestID?>"><?=$VotesCount?></span>
            <?php if (check_perms('site_vote')) { ?>
            &nbsp;&nbsp; <a
              href="javascript:Vote(0, <?=$RequestID?>)"
              class="brackets">+</a>
            <?php } ?>
          </td>
          <td>
            <span id="bounty_<?=$RequestID?>"><?=Format::get_size($Bounty)?></span>
          </td>
          <td>
            <?=time_diff($Request['TimeAdded']) ?>
          </td>
        </tr>
        <?php
        } ?>
      </table>
    </div>
  </div>
  <?php
    }
}
#}




{# recent collages #}
{% if siteOptions.recentCollages and recentCollages is not empty %}
<section id="recentCollages">

<h3>Recent collages</h3>
<div class="recentTorrentActivity">

{% for item in recentCollages %}
<div>
  <a href="/collages/{{ item.id }}">
    <img src="{{ processImage(item.picture, "thumb") }}" alt="{{ item.title }}" title="{{ item.title }}" width="100%">
  </a>
</div>
{% endfor %}
</div>
</section>
{% endif %}





<h3>User stats</h3>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{# community stats #}
{% if siteOptions.communityStats and communityStats is not empty %}
<section>
  <canvas class="chart" id="communityStats"></canvas>
  <script>
    (() => {
      'use strict';

      let communityStatsCanvas = document.getElementById('communityStats').getContext('2d');
      let communityStatsData = JSON.parse('{{ communityStats|json_encode|raw }}');

      let communityStatsChart = new Chart(communityStatsCanvas, {
        type: 'bar',
        data: {
          labels: Object.keys(communityStatsData),
          datasets: [{
            label: 'Count',
            data: Object.values(communityStatsData),
            backgroundColor: [
              '#f44336' + 50,
              '#9c27b0' + 50,
              '#3f51b5' + 50,
              '#03a9f4' + 50,
              '#009688' + 50,
              '#8bc34a' + 50,
              '#ffeb3b' + 50,
              '#ff9800' + 50,
              '#795548' + 50,
              '#607d8b' + 50,
            ],
          }],
        },

        options: {
          indexAxis: 'y',

          plugins: {
            title: {
              display: true,
              text: 'Community',
            },
          },
        },
      });
    })();
  </script>
</section>
{% endif %}

{# torrent stats #}
{% if siteOptions.torrentStats and torrentStats is not empty %}
<section>
  <canvas class="chart" id="torrentStats"></canvas>
  <script>
    (() => {
      'use strict';

  let torrentStatsCanvas = document.getElementById("torrentStats").getContext("2d");
      let torrentStatsData = JSON.parse('{{ torrentStats|json_encode|raw }}');

  let torrentStatsChart = new Chart(torrentStatsCanvas, {
    type: "bar",
    data: {
      labels: Object.keys(torrentStatsData),
      datasets: [
        {
          label: "Count",
          data: Object.values(torrentStatsData),
          // all shades 500: every other reverse
          backgroundColor: [
            "#607d8b" + 50,
            "#795548" + 50,
            "#ff9800" + 50,
            "#ffeb3b" + 50,
            "#8bc34a" + 50,
            "#009688" + 50,
            "#03a9f4" + 50,
            "#3f51b5" + 50,
            "#9c27b0" + 50,
            "#f44336" + 50,
          ],
        },
      ],
    },

    options: {
      indexAxis: "y",

      plugins: {
        title: {
          display: true,
          text: "Torrents",
        },
      },
    },
  });


    })();
  </script>
</section>
{% endif %}





{% endblock %}

{% block sidebar %}

{{ include("user/profile/sidebar.twig") }}

{% endblock %}



{# misc shit to incorporate



          <li
            class="tooltip<?=($Override === 2 ? ' paranoia_override' : '')?>"
            title="<?=Format::get_size($Uploaded, 5)?>">Uploaded:
            <?=Format::get_size($Uploaded)?>
          </li>


          <li
            class="tooltip<?=($Override === 2 ? ' paranoia_override' : '')?>"
            title="<?=Format::get_size($Downloaded, 5)?>">Downloaded:
            <?=Format::get_size($Downloaded)?>
          </li>





              <li<?=($Override === 2 ? ' class="paranoia_override"' : '')?>>Total
                Seeding: <span class="tooltip"
                  title="<?=Format::get_size($TotalSeeding)?>"><?=Format::get_size($TotalSeeding)?>
                  </li>




                  <li<?=($Override === 2 ? ' class="paranoia_override"' : '')?>><a
                      href="userhistory.php?action=token_history&amp;userid=<?=$UserID?>">Tokens</a>:
                    <?=\Gazelle\Text::float($FLTokens)?>
                    </li>


                    <li<?=($Override === 2 ? ' class="paranoia_override"' : '')?>>Warning
                      expires in: <?=time_diff((date('Y-m-d H:i', strtotime($Warned))))?>
                      </li>






    <?php
     if (check_perms('users_view_ips', $Class)) {
         $app->dbOld->query("
        SELECT COUNT(DISTINCT IP)
        FROM xbt_snatched
        WHERE uid = '$UserID'
          AND IP != ''");
         list($TrackerIPs) = $app->dbOld->next_record();
     }
      ?>
    <div class="box box_info box_userinfo_history">
      <div class="head colhead_dark">History</div>
      <ul class="stats nobullet">
        <?php
      if (check_perms('users_view_ips', $Class)) {
          ?>
        <?php if (check_perms('users_view_ips', $Class) && check_perms('users_mod', $Class)) { ?>
        <li>Tracker IPs: <?=\Gazelle\Text::float($TrackerIPs)?> <a
            href="userhistory.php?action=tracker_ips&amp;userid=<?=$UserID?>"
            class="brackets">View</a></li>
        <?php
      }
      }


    <div class="box box_info box_userinfo_personal">
      <div class="head colhead_dark">Personal</div>
      <ul class="stats nobullet">
        <li>Class: <?=$ClassLevels[$Class]['Name']?>
        </li>
        <?php
$UserInfo = User::user_info($UserID);
if (!empty($UserInfo['ExtraClasses'])) {
    ?>
        <li>
          <ul class="stats">
            <?php
  foreach ($UserInfo['ExtraClasses'] as $PermID => $Val) {
      ?>
            <li><?=$Classes[$PermID]['Name']?>
            </li>
            <?php
  } ?>
          </ul>
        </li>
        <?php
}


if (check_perms('users_view_keys', $Class) || $OwnProfile) {
    ?>
        <?php
}
if (check_perms('users_view_invites')) {
    if (!$InviterID) {
        $Invited = '<span style="font-style: italic;">Nobody</span>';
    } else {
        $Invited = "<a href=\"user.php?id=$InviterID\">$InviterName</a>";
    } ?>
        <li>Invited by: <?=$Invited?>
        </li>
        <li>Invites:
          <?php
        $app->dbOld->query("
          SELECT COUNT(InviterID)
          FROM invites
          WHERE InviterID = '$UserID'");
    list($Pending) = $app->dbOld->next_record();
    if ($DisableInvites) {
        echo 'X';
    } else {
        echo \Gazelle\Text::float($Invites);
    }
    echo " ($Pending)"
        ?>
        </li>
        <?php
}

if (!isset($SupportFor)) {
    $app->dbOld->query('
    SELECT SupportFor
    FROM users_info
    WHERE UserID = '.$user['ID']);
    list($SupportFor) = $app->dbOld->next_record();
}





  <div class="main_column two-thirds column">
    <?php



    <!-- for the "jump to staff tools" button -->
    <a id="staff_tools"></a>
    <?php

// Linked accounts
if (check_perms('users_mod')) {
    include(serverRoot.'/sections/user/linkedfunctions.php');
    user_dupes_table($UserID);
}

if ((check_perms('users_view_invites')) && $Invited > 0) {
    include(serverRoot.'/classes/invite_tree.class.php');
    $Tree = new INVITE_TREE($UserID, array('visible' => false)); ?>
    <div class="box" id="invitetree_box">
      <div class="head">
        Invite Tree <span class="u-pull-right"><a data-toggle-target="#invitetree" class="brackets">Toggle</a></span>
      </div>
      <div id="invitetree" class="hidden">
        <?php $Tree->make_tree(); ?>
      </div>
    </div>
  </div>
  <?php
}



$IsFLS = isset($user['ExtraClasses'][FLS_TEAM]);
if (check_perms('users_mod', $Class) || $IsFLS) {
    $UserLevel = $user['EffectiveClass'];
    $app->dbOld->query("
    SELECT
      SQL_CALC_FOUND_ROWS
      ID,
      Subject,
      Status,
      Level,
      AssignedToUser,
      Date,
      ResolverID
    FROM staff_pm_conversations
    WHERE UserID = $UserID
      AND (Level <= $UserLevel OR AssignedToUser = '".$user['ID']."')
    ORDER BY Date DESC");
    if ($app->dbOld->has_results()) {
        $StaffPMs = $app->dbOld->to_array(); ?>
  <div class="box" id="staffpms_box">
    <div class="head">
      Staff PMs <a data-toggle-target="#staffpms" class="brackets u-pull-right">Toggle</a>
    </div>
    <table width="100%" class="message_table hidden" id="staffpms">
      <tr class="colhead">
        <td>Subject</td>
        <td>Date</td>
        <td>Assigned to</td>
        <td>Resolved by</td>
      </tr>
      <?php
    foreach ($StaffPMs as $StaffPM) {
        list($ID, $Subject, $Status, $Level, $AssignedToUser, $Date, $ResolverID) = $StaffPM;
        // Get assigned
        if ($AssignedToUser == '') {
            // Assigned to class
            $Assigned = ($Level == 0) ? 'First Line Support' : $ClassLevels[$Level]['Name'];
            // No + on Sysops
            if ($Assigned != 'Sysop') {
                $Assigned .= '+';
            }
        } else {
            // Assigned to user
            $Assigned = User::format_username($UserID, true, true, true, true);
        }

        if ($ResolverID) {
            $Resolver = User::format_username($ResolverID, true, true, true, true);
        } else {
            $Resolver = '(unresolved)';
        } ?>
      <tr>
        <td><a
            href="staffpm.php?action=viewconv&amp;id=<?=$ID?>"><?=\Gazelle\Text::esc($Subject)?></a></td>
        <td><?=time_diff($Date, 2, true)?>
        </td>
        <td><?=$Assigned?>
        </td>
        <td><?=$Resolver?>
        </td>
      </tr>
      <?php
    } ?>
    </table>
  </div>
  <?php
    }
}

// Displays a table of forum warnings viewable only to Forum Moderators
if ($user['Class'] == 650 && check_perms('users_warn', $Class)) {
    $app->dbOld->query("
    SELECT Comment
    FROM users_warnings_forums
    WHERE UserID = '$UserID'");
    list($ForumWarnings) = $app->dbOld->next_record();
    if ($app->dbOld->has_results()) {
        ?>
  <div class="box">
    <div class="head">Forum warnings</div>
    <div class="pad">
      <div id="forumwarningslinks" class="AdminComment" style="width: 98%;"><?=\Gazelle\Text::parse($ForumWarnings)?>
      </div>
    </div>
  </div>
  <?php
    }
}
if (check_perms('users_mod', $Class)) { ?>
  <form class="manage_form" name="user" id="form" action="user.php" method="post">
    <input type="hidden" name="action" value="moderate">
    <input type="hidden" name="userid" value="<?=$UserID?>">
    <input type="hidden" name="auth"
      value="<?=$user['AuthKey']?>" />

    <div class="box" id="staff_notes_box">
      <div class="head">
        Staff Notes
        <a href="#" name="admincommentbutton" class="brackets">Edit</a>
        <span class="u-pull-right">
          <a data-toggle-target="#staffnotes" class="brackets">Toggle</a>
        </span>
      </div>
      <div id="staffnotes" class="pad">
        <input type="hidden" name="comment_hash"
          value="<?=$CommentHash?>" />
        <div id="admincommentlinks" class="AdminComment" style="width: 98%;"><?=\Gazelle\Text::parse($AdminComment)?>
        </div>
        <textarea id="admincomment" onkeyup="resize('admincomment');" class="AdminComment hidden" name="AdminComment"
          cols="65" rows="26"
          style="width: 98%;"><?=\Gazelle\Text::esc($AdminComment)?></textarea>
        <a href="#" name="admincommentbutton" class="brackets">Toggle
          edit</a>
        <script>
          resize('admincomment');
        </script>
      </div>
    </div>

    <table class="box skeletonFix" id="user_info_box">
      <tr class="colhead">
        <td colspan="2">
          User Information
        </td>
      </tr>
      <?php if (check_perms('users_edit_usernames', $Class)) { ?>
      <tr>
        <td class="label">Username:</td>
        <td><input type="text" size="20" name="Username"
            value="<?=\Gazelle\Text::esc($Username)?>" /></td>
      </tr>
      <?php
  }
  if (check_perms('users_edit_titles')) {
      ?>
      <tr>
        <td class="label">Custom title:</td>
        <td><input type="text" class="wide_input_text" name="Title"
            value="<?=\Gazelle\Text::esc($CustomTitle)?>" /></td>
      </tr>
      <?php
  }

  if (check_perms('users_promote_below', $Class) || check_perms('users_promote_to', $Class - 1)) {
      ?>
      <tr>
        <td class="label">Primary class:</td>
        <td>
          <select name="Class">
            <?php
    foreach ($ClassLevels as $CurClass) {
        if (check_perms('users_promote_below', $Class) && $CurClass['ID'] >= $user['EffectiveClass']) {
            break;
        }

        if ($CurClass['ID'] > $user['EffectiveClass']) {
            break;
        }

        if ($CurClass['Secondary']) {
            continue;
        }

        if ($Class == $CurClass['Level']) {
            $Selected = ' selected="selected"';
        } else {
            $Selected = '';
        } ?>

            <!--
                pcs-comment-start bug
                php-cs-fixer misinterpretation
              -->
            <option value="<?=$CurClass['ID']?>"
              <?=$Selected?>><?=$CurClass['Name'].' ('.$CurClass['Level'].')'?>
            </option>
            <?php
    } ?>
          </select>
        </td>
      </tr>
      <?php
  }

  if (check_perms('users_give_donor')) {
      ?>
      <tr>
        <td class="label">Donor:</td>
        <td><input type="checkbox" name="Donor" <?php if ($Donor==1) { ?> checked="checked"
          <?php } ?> />
        </td>
      </tr>
      <?php
  }
  if (check_perms('users_promote_below') || check_perms('users_promote_to')) { ?>
      <tr>
        <td class="label">Secondary classes:</td>
        <td>
          <?php
    $app->dbOld->query("
      SELECT p.ID, p.Name, l.UserID
      FROM permissions AS p
        LEFT JOIN users_levels AS l ON l.PermissionID = p.ID AND l.UserID = '$UserID'
      WHERE p.Secondary = 1
      ORDER BY p.Name");
    $i = 0;
    while (list($PermID, $PermName, $IsSet) = $app->dbOld->next_record()) {
        $i++; ?>
          <input type="checkbox" id="perm_<?=$PermID?>"
            name="secondary_classes[]" value="<?=$PermID?>" <?php if ($IsSet) { ?> checked="checked"
          <?php } ?> />&nbsp;<label
            for="perm_<?=$PermID?>"
            style="margin-right: 10px;"><?=$PermName?></label>
          <?php if ($i % 3 == 0) {
            echo "\t\t\t\t<br />\n";
        }
    } ?>
        </td>
      </tr>
      <?php }
  if (check_perms('users_make_invisible')) {
      ?>
      <tr>
        <td class="label">Visible in peer lists:</td>
        <td><input type="checkbox" name="Visible" <?php if ($Visible==1) { ?> checked="checked"
          <?php } ?> />
        </td>
      </tr>
      <?php
  }

  if (check_perms('users_edit_ratio', $Class) || (check_perms('users_edit_own_ratio') && $UserID == $user['ID'])) {
      ?>
      <tr>
        <td class="label tooltip" title="Upload amount in bytes. Also accepts e.g. +20GB or -35.6364MB on the end.">
          Uploaded:</td>
        <td>
          <input type="hidden" name="OldUploaded"
            value="<?=$Uploaded?>" />
          <input type="text" size="20" name="Uploaded"
            value="<?=$Uploaded?>" />
        </td>
      </tr>
      <tr>
        <td class="label tooltip" title="Download amount in bytes. Also accepts e.g. +20GB or -35.6364MB on the end.">
          Downloaded:</td>
        <td>
          <input type="hidden" name="OldDownloaded"
            value="<?=$Downloaded?>" />
          <input type="text" size="20" name="Downloaded"
            value="<?=$Downloaded?>" />
        </td>
      </tr>
      <tr>
        <td class="label"><?=bonusPoints?>:</td>
        <td>
          <input type="text" size="20" name="BonusPoints"
            value="<?=$BonusPoints?>" />
          <?php
if (!$DisablePoints) {
          $PointsRate = 0;
          $getTorrents = $app->dbOld->query("
    SELECT COUNT(DISTINCT x.fid) AS Torrents,
           SUM(t.Size) AS Size,
           SUM(xs.seedtime) AS Seedtime,
           SUM(t.Seeders) AS Seeders
    FROM users_main AS um
    LEFT JOIN users_info AS i on um.ID = i.UserID
    LEFT JOIN xbt_files_users AS x ON um.ID=x.uid
    LEFT JOIN torrents AS t ON t.ID=x.fid
    LEFT JOIN xbt_snatched AS xs ON x.uid=xs.uid AND x.fid=xs.fid
    WHERE
      um.ID = $UserID
      AND um.Enabled = '1'
      AND x.active = 1
      AND x.completed = 0
      AND x.Remaining = 0
    GROUP BY um.ID");
          if ($app->dbOld->has_results()) {
              list($NumTorr, $TSize, $TTime, $TSeeds) = $app->dbOld->next_record();

              $ENV = ENV::go();
              $PointsRate = ($ENV->bonusPointsCoefficient + (0.55*($NumTorr * (sqrt(($TSize/$NumTorr)/1073741824) * pow(1.5, ($TTime/$NumTorr)/(24*365))))) / (max(1, sqrt(($TSeeds/$NumTorr)+4)/3)))**0.95;
          }

          $PointsRate = intval(max(min($PointsRate, ($PointsRate * 2) - ($BonusPoints/1440)), 0));
          $PointsPerHour = \Gazelle\Text::float($PointsRate)." ".bonusPoints."/hour";
          $PointsPerDay = \Gazelle\Text::float($PointsRate*24)." ".bonusPoints."/day";
      } else {
          $PointsPerHour = "0 ".bonusPoints."/hour";
          $PointsPerDay = bonusPoints." disabled";
      } ?>
          <?=$PointsPerHour?> (<?=$PointsPerDay?>)
        </td>
      </tr>
      <tr>
        <td class="label tooltip" title="Enter a username.">Merge stats <strong>from:</strong></td>
        <td>
          <input type="text" size="40" name="MergeStatsFrom">
        </td>
      </tr>
      <tr>
        <td class="label">Freeleech tokens:</td>
        <td>
          <input type="text" size="5" name="FLTokens"
            value="<?=$FLTokens?>" />
        </td>
      </tr>
      <?php
  }

  if (check_perms('users_edit_invites')) {
      ?>
      <tr>
        <td class="label tooltip" title="Number of invites">Invites:</td>
        <td><input type="text" size="5" name="Invites"
            value="<?=$Invites?>" /></td>
      </tr>
      <?php
  }

  if (check_perms('admin_manage_fls') || (check_perms('users_mod') && $OwnProfile)) {
      ?>
      <tr>
        <td class="label tooltip" title="This is the message shown in the right-hand column on /staff.php">FLS/Staff
          remark:</td>
        <td><input type="text" class="wide_input_text" name="SupportFor"
            value="<?=\Gazelle\Text::esc($SupportFor)?>" /></td>
      </tr>
      <?php
  }

  if (check_perms('users_edit_reset_keys')) {
      ?>
      <tr>
        <td class="label">Reset:</td>
        <td>
          <input type="checkbox" name="ResetRatioWatch" id="ResetRatioWatch"> <label for="ResetRatioWatch">Ratio
            watch</label> |
          <input type="checkbox" name="ResetPasskey" id="ResetPasskey"> <label for="ResetPasskey">Passkey</label> |
          <input type="checkbox" name="ResetAuthkey" id="ResetAuthkey"> <label for="ResetAuthkey">Authkey</label> |
          <br />
          <input type="checkbox" name="ResetSnatchList" id="ResetSnatchList"> <label for="ResetSnatchList">Snatch
            list</label> |
          <input type="checkbox" name="ResetDownloadList" id="ResetDownloadList"> <label
            for="ResetDownloadList">Download list</label>
        </td>
      </tr>
      <?php
  }



    <?php if (check_perms('users_warn')) { ?>
    <table class="box skeletonFix" id="warn_user_box">
      <tr class="colhead">
        <td colspan="2">
          Warnings
        </td>
      </tr>
      <tr>
        <td class="label">Warned:</td>
        <td>
          <input type="checkbox" name="Warned" <?php if ($Warned) { ?> checked="checked"
          <?php } ?> />
        </td>
      </tr>
      <?php if (!$Warned) { ?>
      <tr>
        <td class="label">Expiration:</td>
        <td>
          <select name="WarnLength">
            <option value="">---</option>
            <option value="1">1 week</option>
            <option value="2">2 weeks</option>
            <option value="4">4 weeks</option>
            <option value="8">8 weeks</option>
          </select>
        </td>
      </tr>
      <?php } else { ?>
      <tr>
        <td class="label">Extension:</td>
        <td>
          <select name="ExtendWarning" onchange="ToggleWarningAdjust(this);">
            <option>---</option>
            <option value="1">1 week</option>
            <option value="2">2 weeks</option>
            <option value="4">4 weeks</option>
            <option value="8">8 weeks</option>
          </select>
        </td>
      </tr>
      <tr id="ReduceWarningTR">
        <td class="label">Reduction:</td>
        <td>
          <select name="ReduceWarning">
            <option>---</option>
            <option value="1">1 week</option>
            <option value="2">2 weeks</option>
            <option value="4">4 weeks</option>
            <option value="8">8 weeks</option>
          </select>
        </td>
      </tr>
      <?php } ?>
      <tr>
        <td class="label tooltip" title="This message *will* be sent to the user in the warning PM!">Warning reason:
        </td>
        <td>
          <input type="text" class="wide_input_text" name="WarnReason">
        </td>
      </tr>
      <?php } ?>
    </table>
    <?php if (check_perms('users_disable_any')) { ?>
    <table class="box skeletonFix" id="user_lock_account">
      <tr class="colhead">
        <td colspan="2">
          Lock Account
        </td>
      </tr>
      <tr>
        <td class="label">Lock Account:</td>
        <td>
          <input type="checkbox" name="LockAccount" id="LockAccount" <?php if ($LockedAccount) { ?> checked="checked"
          <?php } ?>/>
        </td>
      </tr>
      <tr>
        <td class="label">Reason:</td>
        <td>
          <select name="LockReason">
            <option value="---">---</option>
            <option value="<?=STAFF_LOCKED?>" <?php if ($LockedAccount==STAFF_LOCKED) { ?> selected
              <?php } ?>>Staff Lock
            </option>
          </select>
        </td>
      </tr>
    </table>
    <?php }  ?>

  if (check_perms('users_disable_any')) {
      ?>
      <tr>
        <td class="label">Account:</td>
        <td>
          <select name="UserStatus">
            <option value="0" <?php if ($Enabled=='0') { ?>
              selected="selected"
              <?php } ?>>Unconfirmed
            </option>
            <option value="1" <?php if ($Enabled=='1') { ?>
              selected="selected"
              <?php } ?>>Enabled
            </option>
            <option value="2" <?php if ($Enabled=='2') { ?>
              selected="selected"
              <?php } ?>>Disabled
            </option>
            <?php if (check_perms('users_delete_users')) { ?>
            <optgroup label="-- WARNING --">
              <option value="delete">Delete account</option>
            </optgroup>
            <?php } ?>
          </select>
        </td>


        <td class="label tooltip" title="This message will be entered into staff notes only.">Reason:</td>
          <textarea rows="2" class="wide_input_text" name="Reason" id="Reason" onkeyup="resize('Reason');"></textarea>

          #}