{# avatar #}
<figure class="profileAvatar">
{{ avatar|raw }}
</figure>

<div id="userProfileSidebar">
{# user profile actions #}
<h3>Actions</h3>

{# send pm #}
{% if isOwnProfile %}
<a href="/messages/compose/{{ userId }}" class="button button-primary">send message</a>
{% endif %}

{# add/remove from friends #}
{% if not isFriend %}
<a href="/friends/create/{{ userId }}" class="button button-orange">add friend</a>
{% else %}
<a href="/friends/create/{{ userId }}" class="button">remove friend</a>
{% endif %}

{# snitches get stitches #}
<a href="/report/{{ userId }}" class="button button-red">report user</a>


{# moderator actions: this is actually nonsense #}
{% if can("users_mod") %}
<h3>Moderate</h3>
{% endif %}

{# go to staff tools #}
{% if can("users_mod") %}
<a href="#staffTools" class="button">staff tools</a>
{% endif %}

{# update settings # }
{% if can("users_edit_profiles") %}
<a href="/user/edit/{{ userId }}" class="button">user settings</a>
{% endif %}

{# read invites # }
{% if can("users_view_invites") %}
<a href="/user/invites/{{ userId }}" class="button">invites</a>
{% endif %}

{# update permissions # }
{% if can("admin_manage_permissions") %}
<a href="/user/permissions/{{ userId }}" class="button">permissions</a>
{% endif %}

{# read sessions # }
{% if can("users_view_ips") %}
<a href="/user/sessions/{{ userId }}" class="button">sessions</a>
{% endif %}

{# read reports # }
{% if can("admin_reports") %}
<a href="/user/reports/{{ userId }}" class="button">reports</a>
{% endif %}

{# read freeleech token history # }
{% if can("users_mod") %}
<a href="/user/history/{{ userId }}" class="button">freeleech tokens</a>
{% endif %}

{# clear cache # }
{% if can("admin_clear_cache") and can("users_override_paranoia") %}
<a href="/user/clearCache/{{ userId }}" class="button">clear cache</a>
{% endif %}


#}

</div> {# userProfileSidebar #}
{#
<form method="post">
	<input type="text" form="userSettingsForm" id="currentPassphrase" name="currentPassphrase" placeholder="Please enter your current passphrase"/>

	<label for="currentPassphrase">You must enter your current passphrase to change any user settings</label>

	<input type="submit" form="userSettingsForm" id="save" name="save" value="save" class="button-primary"/>


	<input type="button" id="previewParanoia" name="previewParanoia" value="preview paranoia" class="button-orange"/>

</form>
#}

{# go to section #}
{#
<div id="userSettingsSidebar">
	<h3>Go to section</h3>

	<a href="#siteAppearanceSettings" class="button">site appearence</a>

	<a href="#torrentSettings" class="button">torrents</a>

	<a href="#communitySettings" class="button">community</a>

	<a href="#notificationSettings" class="button">notifications</a>

	<a href="#profileSettings" class="button">profile</a>

	<a href="#securitySettings" class="button">security</a>
</div>
#}