{# avatar #}
<section class="userProfileSidebar">
	<figure class="userProfileAvatar">
		{{ avatar|raw }}

		<figcaption>
			{{ data.core.username }}
			joined
			{{ data.core.registered|relativeTime }}
			and has a ratio of
			{{ ratio(data.extra.Uploaded, data.extra.Downloaded) }}
		</figcaption>
	</figure>
</section>


{# badges #}
<section>
	{% if badges is not empty %}
		<h3>Badges</h3>

		{{ badgesDisplay|raw }}
	{% endif %}
</section>


<section
	class="userProfileSidebar">
	{# user profile actions #}
	<h3>Actions</h3>

	{# your own profile #}
	{% if isOwnProfile %}
		<form>

			{# edit settings #}
			<a href="/user/update/{{ userId }}" class="button button-primary">edit settings</a>

			{# preview as other #}
			<a href="/user/{{ userId }}/preview" class="button button-orange">preview profile</a>

			{# log out #}
			<a href="/logout" class="button button-red">log out</a>

		</form>
	{% endif %}
	{# if isOwnProfile #}

	{# someone else's profile #}
	{% if not isOwnProfile %}
		<form>

			{# send pm #}
			{# inbox.php?action=compose&to={{ userId }} #}
				<a href="/messages/compose/{{ userId }}" class="button button-primary"> send message</a>

			{# add/remove from friends #}
			{# friends.php?action=add&friendid={{ userId }}&auth={{ user.extra.AuthKey }} #}
			{% if not isFriend %}
				<a href="/friends/create/{{ userId }}" class="button button-orange">add friend</a>
			{% else %}
				<a href="/friends/create/{{ userId }}" class="button button-orange">remove friend</a>
			{% endif %}
			{# if not isFriend #}

			{# snitches get stitches #}
			{# reports.php?action=report&type=user&id={{ userId }} #}
				<a href="/report/{{ userId }}" class="button button-red"> report user</a>

			<hr/>

			{# gift bonus points #}
			<input type="number" id="giftBonusPointsAmount" placeholder="{{ env.bonusPoints }}"/>

			<input type="text" id="giftBonusPointsMessage" placeholder="Enter an optional message"/>

			<label>
				<input type="checkbox" id="giftBonusPointsAdjust" name="giftBonusPointsAdjust" value="true"/>
				Adjust your gift for 15% tax?
			</label>

			<a id="giftBonusPointsSubmit" class="button button-green">gift{{ env.bonusPoints }}</a>

		</form>
	{% endif %}
	{# if not isOwnProfile #}
</section>


{# user stats #}
<section class="userProfileSidebar">
	<h3>Percentile ranks</h3>

	<p>Hover over the percentiles for the values.</p>

	<table id="userProfilePercentiles">
		<tr>
			<th>Overall</th>
			<td>
				{{ percentileStats.overall|float }}
			</td>
		</tr>

		<tr>
			<th>Creators added</th>
			<td title="{{ communityStats.creatorsAdded }}">
				{{ percentileStats.creatorsAdded|float }}
			</td>
		</tr>

		<tr>
			<th>Downloaded</th>
			<td title="{{ data.extra.Downloaded|get_size }}">
				{{ percentileStats.downloaded|float }}
			</td>
		</tr>

		<tr>
			<th>Posts</th>
			<td title="{{ communityStats.forumPosts|number_format }}">
				{{ percentileStats.posts|float }}
			</td>
		</tr>

		<tr>
			<th>Requests filled</th>
			<td title="{{ requestStats.requestsFilledCount|number_format }}">
				{{ percentileStats.requestsFilled|float }}
			</td>
		</tr>

		<tr>
			<th>Requests voted</th>
			<td title="{{ requestStats.requestsVotedBounty|get_size }}">
				{{ percentileStats.requestsVoted|float }}
			</td>
		</tr>

		<tr>
			<th>Uploaded</th>
			<td title="{{ data.extra.Uploaded|get_size }}">
				{{ percentileStats.uploaded|float }}
			</td>
		</tr>

		<tr>
			<th>Uploads</th>
			<td title="{{ torrentStats.uploadCount|number_format }}">
				{{ percentileStats.uploads|float }}
			</td>
		</tr>
	</table>
</section>


<section>
	<h3>Requests</h3>

	<table id="userProfileRequests">
		<tr>
			<th>Created</th>
			<td>
				{{ requestStats.requestsCreatedCount }}
				for
				{{ requestStats.requestsCreatedBounty|get_size }}
			</td>
		</tr>

		<tr>
			<th>Filled</th>
			<td>
				{{ requestStats.requestsFilledCount }}
				for
				{{ requestStats.requestsFilledBounty|get_size }}
			</td>
		</tr>

		<tr>
			<th>Voted on</th>
			<td>
				{{ requestStats.requestsVotedCount }}
				for
				{{ requestStats.requestsVotedBounty|get_size }}
			</td>
		</tr>
	</table>
</section>


<section
	class="userProfileSidebar">
	{# moderator actions #}
	{% if can("users_mod") %}
		<h3>Moderate</h3>

		<p>Most of this is actually bullshit.</p>

		<form>

			{# go to staff tools #}
			{% if can("users_mod") %}
				<a href="#staffTools" class="button">staff tools</a>
			{% endif %}

			{# update settings #}
			{# user.php?action=edit&userid={{ userId }} #}
			{% if can("users_edit_profiles") %}
				<a href="/user/edit/{{ userId }}" class="button">user settings</a>
			{% endif %}

			{# read invites #}
			{# user.php?action=invite&userid={{ userId }} #}
			{% if can("users_view_invites") %}
				<a href="/user/invites/{{ userId }}" class="button">invites</a>
			{% endif %}

			{# update permissions #}
			{# user.php?action=permissions&userid={{ userId }} #}
			{% if can("admin_manage_permissions") %}
				<a href="/user/permissions/{{ userId }}" class="button">permissions</a>
			{% endif %}

			{# read sessions #}
			{# user.php?action=sessions&userid={{ userId }} #}
			{% if can("users_view_ips") %}
				<a href="/user/sessions/{{ userId }}" class="button">sessions</a>
			{% endif %}

			{# read reports #}
			{# reportsv2.php?view=reporter&id={{ userId }} #}
			{% if can("admin_reports") %}
				<a href="/user/reports/{{ userId }}" class="button">reports</a>
			{% endif %}

			{# read freeleech token history #}
			{# userhistory.php?action=token_history&userid={{ userId }} #}
			{% if can("users_mod") %}
				<a href="/user/history/{{ userId }}" class="button">freeleech tokens</a>
			{% endif %}

			{# clear cache #}
			{# user.php?action=clearcache&id={{ userId }} #}
			{% if can("admin_clear_cache") and can("users_override_paranoia") %}
				<a href="/user/clearCache/{{ userId }}" class="button">clear cache</a>
			{% endif %}

		</form>
	{% endif %}
	{# if can("users_mod") #}
</section>
