{% extends "base.twig" %}

{% block content %}

{# flavor text #}
<p class="center mouseless">
    A platform to share <strong>biological sequence</strong>
    and <strong>medical imaging</strong> data
    {% if post is empty %}
    <sup>1</sup>
    {% endif %}
</p>

{# cookies disabled #}
{#
<p id="cookiesDisabled" class="hidden error">
    You appear to have cookies disabled.
</p>
#}

{# javascript disabled #}
<noscript>
    <p class="error">
        {{ env.siteName }} requires JavaScript to function properly.
        Please enable JavaScript in your browser.
    </p>
</noscript>

{# error message #}
{% if response is not null %}
    <p class="error">
        {{ response }}
    </p>
{% endif %}

{# u2f login form #}
{% if post is not empty and post.u2f_request is defined and post.u2f_response is defined %}
    <p class="info">
        This account is protected by a Universal Two Factor token.
        Please insert your U2F token and press it if necessary.
    </p>

    <form id="u2f" method="post">
        {{ form_token(query.server.REQUEST_URI) }}

        <input type="hidden" name="username" value="{{ post.username }}">

        <input type="hidden" name="password" value="{{ post.passphrase }}">

        <input type="hidden" name="u2f-request" value="{{ u2fAuthData }}">

        <input type="hidden" name="u2f-response">

    </form>
{% endif %}

{# regular login form #}
<form name="login" id="login" method="post" autocomplete="off">
    {{ form_token(query.server.REQUEST_URI) }}

    {# username #}
    <input type="text" name="username" id="username" placeholder="Username" autofocus="autofocus" required>

    {# passphrase #}
    <input type="password" name="passphrase" id="passphrase" placeholder="Passphrase" minlength="15" required>

    {# twoFactor #}
    <input type="number" name="twoFactor" id="twoFactor" placeholder="2FA">

    {# rememberMe #}
    <ul class="nobullet">
        <li>
            {% if post.rememberMe is defined %}
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true" checked>
            {% else %}
                <input type="checkbox" name="rememberMe" id="rememberMe" value="true">
            {% endif %}
            <label for="rememberMe">Remember me for a week</label>
        </li>
    </ul>

    {# log in #}
    <input type="submit" name="submit" id="submit" value="Log in" class="button-primary">

    {# register #}
    {% if env.openRegistration == true %}
        <a href="/register" class="button">Register</a>
    {% endif %}

    {# recover #}
    {% if post is not empty %}
        <a href="/recover" class="button">Recover account</a>
    {% endif %}

</form>

{# flavor text #}
{% if post is empty %}
    <ol class="center mouseless">
        <li>…and graphs, scalars, vectors, patterns, constraints, models, and more</li>
    </ol>
{% endif %}

{# cookie test #}
{#
<script>
    document.cookie = "test=test;max-age=5";
    let value = document.cookie
        .split("; ")
        .find(row => row.startsWith("test="))
        .split("=")[1];

    if (value !== "test") {
        let element = document.getElementById("cookiesDisabled");
        element.classList.remove("hidden");
    }
</script>
#}

{% endblock %}