<h3>Search</h3>
<section>

<form method="post">
    {{ form_token(query.server.REQUEST_URI) }}

    <input type="text" id="query" name="query" placeholder="Search the boards">

    <input type="submit" id="search" name="search" value="search" class="button-primary">
</form>

<p>
    Please consult the 
    <a href="https://docs.discourse.org/#tag/Search/operation/search" class="external" target="_blank">advanced search syntax</a>
</p>

</section>


<h3>Actions</h3>
<section>

<form method="post">
    {{ form_token(query.server.REQUEST_URI) }}

    <input type="button" id="create" name="create" value="new thread" class="button-primary">

    <input type="button" id="unread" name="unread" value="unread" class="button-orange">

    <input type="button" id="subscribe" name="subscribe" value="subscribe">
</form>

</section>


{% if latestTopics is defined %}
<h3>Latest</h3>
<section>

<ul>

    {% for topic in latestTopics %}
    <li>
        <a href="/boards/{{ topic.categorySlug }}/{{ topic.slug }}">{{ topic.title }}</a>
        <br>
        {{ topic.last_posted_at|relativeTime }}
    </li>
    {% endfor %}

</ul>

</section>
{% endif %}


{% if topic.suggested_topics is defined %}
<h3>Suggested</h3>
<section>

<ul>

    {% for topic in topic.suggested_topics %}
    <li>
        <a href="/boards/{{ category }}/{{ topic.slug }}">{{ topic.title }}</a>
        <br>
        {{ topic.last_posted_at|relativeTime }}
    </li>
    {% endfor %}

</ul>

</section>
{% endif %}


<h3>Rules</h3>
<section>

<p>
    Please consider reading through the
    <a href="/rules/chat">social norms</a>
    before participating in the boards.
    Thanks!
</p>

</section>