{# search bar #}
{#
<form method="post">
    {{ form_token(query.server.REQUEST_URI) }}

    <input type="text" id="search" name="search" placeholder="Search the site">

    {# select which site area to search # }
    <select id="search_what" name="search_what">
        <option value="torrents">Torrents</option>
        {# <option value="artist">Authors</option> # }
        <option value="requests">Requests</option>
        <option value="forums">Forums</option>
        <option value="wiki">Wiki</option>
        <option value="log">Log</option>
        <option value="user">Users</option>
    </select>
</form>
#}


{# main site actions #}
	<section>
		<h3>Actions</h3>

		<form>
			{% if can("site_upload") %}
				<a href="upload.php" class="button button-primary">upload</a>
			{% endif %}

			<a href="/user.php?action=invite" class="button button-orange">invite</a>

			{% if env.enableDonations %}
				<a href="/donate" class="button button-green">donate</a>
			{% endif %}

			<a href="/staff.php" class="button button-purple">staff</a>
	</form>
</section>


{# featured torrent #}
{# todo: make this work #}
{#
{% if featured_showcase %}
<section>
<h3>Featured torrent</h3>

<div class="box">
    <div class="head colhead_dark">
        <strong>Showcase</strong>
        <a href="forums.php?action=viewthread&amp;threadid={{ featured_showcase.ThreadID}}">[Discuss]</a>
    </div>
    <div class="center pad">
        <a href="torrents.php?id={{ featured_showcase.GroupID }}" class="tooltip" title="{{
            featured_showcase.artist_name }} - {{  featured_showcase.Name }}">
            <img src="{{ featured_showcase.image|raw }}" alt="{{ featured_showcase.artist_name }} - {{ featured_showcase.Name }}" width="100%">
        </a>
    </div>
</div>
</section>
{% endif %}
#}


{# current freeleeches #}
	{% if freeleeches is defined %}
		<section>
			<h3>
		Current freeleeches
		</h3>

			<ul>

				{% for freeleech in freeleeches %}
					<li>
						<a href="{# /boards/{{ topic.categorySlug }}/{{ topic.slug }} #}"> {{ blog.Title }}</a>
					<br/>

					<span class="u-pull-left">
						{{ topic.Username }}
					</span>

					<span class="u-pull-right">
						{{ topic.Time|relativeTime }}
					</span>
				</li>
			{% endfor %}

		</ul>
	</section>
{% endif %}


{# user stats #}
<section>
	<div class="flexHeader">
		<h3>User stats</h3>
		<a class="button" href="/stats/users">details</a>
	</div>

	<table class="compact sidebar">
		{% if activeUsers.userLimit > 0 %}
			<tr>
				<th>User limit</th>
				<td>{{ activeUsers.userLimit|number_format }}</td>
			</tr>
		{% endif %}

		<tr>
			<th>Enabled users</th>
			<td>{{ activeUsers.userCount|number_format }}</td>
		</tr>

		<tr>
			<th>Active today</th>
			<td>
				{{ activeUsers.activeDailyCount|number_format }}
				({{ activeUsers.activeDailyPercent|float }}%)
			</td>
		</tr>

		<tr>
			<th>Active this week</th>
			<td>
				{{ activeUsers.activeWeeklyCount|number_format }}
				({{ activeUsers.activeWeeklyPercent|float }}%)
			</td>
		</tr>

		<tr>
			<th>Active this month</th>
			<td>
				{{ activeUsers.activeMonthlyCount|number_format }}
				({{ activeUsers.activeMonthlyPercent|float }}%)

			</td>
		</tr>
	</table>
</section>


{# torrent stats #}
<section>
	<div class="flexHeader">
		<h3>Torrent stats</h3>
		<a class="button" href="/stats/torrents">details</a>
	</div>

	<table class="compact sidebar">
		<tr>
			<th>Torrents</th>
			<td>{{ torrentAggregates.torrentCount|number_format }}</td>
		</tr>

		<tr>
			<th>Torrent groups</th>
			<td>{{ torrentAggregates.groupCount|number_format }}</td>
		</tr>

		<tr>
			<th>Data size</th>
			<td>{{ torrentAggregates.dataSize|get_size }}</td>
		</tr>

		<tr>
			<th>Creators</th>
			<td>{{ torrentAggregates.creatorCount|number_format }}</td>
		</tr>

		<tr>
			<th>Requests: total / filled (%)</th>
			<td>
				{{ torrentAggregates.requestTotalCount|number_format }}
				/
				{{ torrentAggregates.requestFilledCount|number_format }}
				({{ torrentAggregates.requestFilledPercent|float }}%)
			</td>
		</tr>
	</table>
</section>


{# tracker stats #}
<section>
	<h3>Tracker stats</h3>

	<table class="compact sidebar">
		<tr>
			<th>Snatches</th>
			<td>{{ trackerAggregates.snatchCount|number_format }}</td>
		</tr>

		<tr>
			<th>Peers</th>
			<td>{{ trackerAggregates.peerCount|number_format }}</td>
		</tr>


		<tr>
			<th>Seeders</th>
			<td>{{ trackerAggregates.seederCount|number_format }}</td>
		</tr>

		<tr>
			<th>Leechers</th>
			<td>{{ trackerAggregates.leecherCount|number_format }}</td>
		</tr>

		<tr>
			<th>Seeder leecher ratio</th>
			<td>{{ trackerAggregates.seederLeecherRatio }}</td>
		</tr>
	</table>
</section>


{#
								<ul class="stats nobullet">
								    <?php
								  for ($i = 0; $i < count($freeleeches); $i++) {
								      list($ID, $ExpiryTime, $Name, $Image) = $freeleeches[$i];
								      if ($ExpiryTime < time()) {
								          continue;
								      }
								      $DisplayTime = '('.str_replace(['year','month','week','day','hour','min','Just now','s',' '], ['y','M','w','d','h','m','0m'], time_diff($ExpiryTime, 1, false)).') ';
								      $DisplayName = '<a href="torrents.php?torrentid='.$ID.'"';
								      if (!isset($user['CoverArt']) || $user['CoverArt']) {
								          $DisplayName .= ' data-cover="'.\Gazelle\Images::process($Image, 'thumb').'"';
								      }
								      $DisplayName .= '>'.$Name.'</a>'; ?>
								    <li>
								        <strong class="fl_time">
								            <?=$DisplayTime?>
								        </strong>
								        <?=$DisplayName?>
								    </li>
								    <?php
								  } ?>
								</ul>
								</div>
								<?php
								}
								?>
								
								if (count($Freeleeches)) {
								?>
								<div class="box">
								    <div class="head colhead_dark"><strong><a
								                href="torrents.php?freetorrent=1&order_by=seeders&order_way=asc">Freeleeches</a></strong></div>
								    <ul class="stats nobullet">
								        <?php
								  for ($i = 0; $i < count($freeleeches); $i++) {
								      list($ID, $ExpiryTime, $Name, $Image) = $freeleeches[$i];
								      if ($ExpiryTime < time()) {
								          continue;
								      }
								      $DisplayTime = '('.str_replace(['year','month','week','day','hour','min','Just now','s',' '], ['y','M','w','d','h','m','0m'], time_diff($ExpiryTime, 1, false)).') ';
								      $DisplayName = '<a href="torrents.php?torrentid='.$ID.'"';
								      if (!isset($user['CoverArt']) || $user['CoverArt']) {
								          $DisplayName .= ' data-cover="'.\Gazelle\Images::process($Image, 'thumb').'"';
								      }
								      $DisplayName .= '>'.$Name.'</a>'; ?>
								        <li>
								            <strong class="fl_time">
								                <?=$DisplayTime?>
								            </strong>
								            <?=$DisplayName?>
								        </li>
								        <?php
								  } ?>
								    </ul>
								</div>
								<?php
								}
								#}
{# poll #}
{# todo: make this work #}
{#
								{%- if poll -%}
								<div class="box">
								    <div class="head colhead_dark"><strong>Poll{% if poll.is_closed %} [Closed]{% endif %}</strong></div>
								    <div class="pad">
								        <p><strong>{{ poll.question }}</strong></p>
								    {% if poll.user_vote or poll.is_closed %}
								        <ul class="poll nobullet">
								        {% for id, vote in poll.tally %}
								            <li title="{{ vote.score }}">
								            {%- if id == poll.user_vote %}&raquo;&nbsp;{% endif -%}
								            {{ vote.answer }} ({{ vote.percent|number_format(2) }}%)</li>
								            <li title="{{ vote.score }}" class="graph">
								                <span class="left_poll"></span>
								                <span class="center_poll" style="width: {{ vote.ratio|number_format(2) }}%;"></span>
								                <span class="right_poll"></span>
								                <br />
								            </li>
								        {% endfor %}
								        </ul>
								        <strong>Votes:</strong> {{ poll.votes_total|number_format }}<br />
								    {% else %}
								        <div id="poll_container">
								        <form class="vote_form" name="poll" id="poll" action="">
								            <input type="hidden" name="action" value="poll">
								            <input type="hidden" name="auth" value="{{ auth }}">
								            <input type="hidden" name="threadid" value="{{ poll_thread_id }}">
								        {% for id, vote in poll.tally %}
								            <input type="radio" name="vote" id="answer_{{ id }}" value="{{ id }}">
								            <label for="answer_{{ id }}">{{ vote.answer }}</label><br />
								        {% endfor %}
								            <br /><input type="radio" name="vote" id="answer_0" value="0" /> <label for="answer_0">Blank&#8202;&mdash;&#8202;Show the results!</label><br /><br>
								            <input type="button" onclick="ajax.post('index.php', 'poll', function(response) { $('#poll_container').raw().innerHTML = response } );" value="Vote">
								        </form>
								        </div>
								    {% endif %}
								        <br /><strong>Topic:</strong> <a href="forums.php?action=viewthread&amp;threadid={{ poll_thread_id }}">Visit</a>
								    </div>
								</div>
								{% endif -%}
								#}


	{% if blog is defined %}
		<h3>
	Latest blog posts
	</h3>

		<ul>

			{% for blog in blog %}
				<li>
					<a href="{# /boards/{{ topic.categorySlug }}/{{ topic.slug }} #}"> {{ blog.Title }}</a>
				<br/>

				<span class="u-pull-left">
					{{ topic.Username }}
				</span>

				<span class="u-pull-right">
					{{ topic.Time|relativeTime }}
				</span>
			</li>
		{% endfor %}

	</ul>
{% endif %}
{% if topic.suggested_topics is defined %}
	<h3>Suggested</h3>

	<ul>

		{% for topic in topic.suggested_topics %}
			<li>
				<a href="/boards/{{ category }}/{{ topic.slug }}">{{ topic.title }}</a>
				<br/>
				{{ topic.last_posted_at|relativeTime }}
			</li>
		{% endfor %}

	</ul>
{% endif %}
