<table cellpadding="6" cellspacing="1" border="0" width="100%" class="layout border user_options" id="access_settings">

    <tr id="acc_api_keys_tr">
        <td class="label"><strong>API Keys</strong></td>
        <td>API keys can be generated to access our
            <b><a href="https://github.com/OPSnet/Gazelle/wiki/JSON-API-Documentation" target='_blank'>API</a></b>.<br />
            Rememeber to revoke tokens you no longer use.<br />
            <strong class="important_text">Treat your tokens like passwords and keep them secret.</strong>
            <br /><br />
            <table class="layout border">
                <tr class='colhead'>
                    <th>Name</th>
                    <th>Created</th>
                    <th>Revoke</th>
                </tr>
{% for token in user.apiTokenList %}
                <tr class="{{ cycle(['a', 'b'], loop.index0) }}">
                    <td>{{ token.name }}</td>
                    <td>{{ token.created|time_diff }}</td>
                    <td style='text-align: center'><a href='user.php?action=token&amp;do=revoke&amp;user_id={{ logged_user }}&amp;token_id={{ token.id }}'>Revoke</a>
                </tr>
{% endfor %}
            </table>
            <a href="user.php?action=token&amp;user_id={{ logged_user }}">Click here to create a new token</a>
        </td>
    </tr>
    
</table>
