{% extends "base.twig" %}

{% block content %}

	<h2>Miscellaneous values</h2>

  <p>
  This is a persistent key-value store with limited use.
  It can be used to set arbitrary things within the application.
  So far, it's only used to store the freeleech pool, which doesn't work.
  It might also store the current sitewide freeleech status, I dunno.
  </p>

	<table>
  <tr>
    <th>Value name</th>
    <th>First value</th>
    <th>Second value</th>
    <th>Actions</th>
  </tr>

  			<form method="post">

				{{ form_token(query.server.REQUEST_URI) }}

				<tr>
					<td><input type="text" name="name" placeholder="Value name" required></td>
					<td><input type="text" name="first" class="monospace" placeholder="First value" required></td>
					<td><input type="text" name="second" class="monospace" placeholder="Second value" required></td>
					<td><input type="submit" name="create" class="button-primary" value="create"></td>
				</tr>

			</form>

  {% for item in values %}

  				<form method="post">

					{{ form_token(query.server.REQUEST_URI) }}

					<input type="hidden" name="uuid" value="{{ item.uuid }}">

					<tr>
						<td><input type="text" name="name" value="{{ item.name }}" required></td>
						<td><input type="text" name="first" class="monospace" value="{{ item.first }}" required></td>
						<td><input type="text" name="second" class="monospace" value="{{ item.second }}" required></td>
						<td>
							<input type="submit" name="update" class="button-orange" value="update">
							<input type="submit" name="delete" class="button-red" value="delete">
						</td>
					</tr>

				</form>

 {% endfor %}

	</table>

{% endblock %}


{% block sidebar %}

	{{ include("admin/sidebar.twig") }}

{% endblock %}
