{# formats #}
{% for key, value in env.CATS %}
	<tr id="{{ value.Name|camel }}Format">
		<th>
			<label for="format" class="required">Format</label>
			{# <label for="format" class="required">Format ({{ value.Name }})</label> #}
		</th>

		<td>
			<select id="format" name="format" class="select">
				<option value="">The data's main file format</option>
				{% for label, items in value.Formats %}
					<optgroup label="{{ label }}">
						{% for item, extensions in items %}
							<option value="{{ item }}">{{ item }}</option>
						{% endfor %}
					</optgroup>
				{% endfor %}
			</select>
		</td>
	</tr>
{% endfor %}
