{# platforms #}
{% if newTorrent %}
	{% for key, value in env.CATS %}
		<tr id="{{ value.Name|camel }}Platform">
			<th>
				<label for="platform" class="required">Platform</label>
				{# <label for="platform" class="required">Platform ({{ value.Name }})</label> #}
			</th>

			<td>
				<select name="platform" class="select">
					<option value="">The class of technology used</option>
					{% for item in value.Platforms %}
						<option value="{{ item }}">{{ item }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
	{% endfor %}

{% else %}
	<input type="hidden" name="platform" value="{{ torrent.platform }}"/>
{% endif %}
