{# scopes #}
{% if newTorrent %}
	{% for key, value in env.categories %}
		<tr id="{{ value.title|camel }}Scope">
			<th>
				<label for="scope" class="required">Scope</label>
			</th>

			<td>
				<select id="scope" name="scope" class="select">
					<option value="">The concrete or abstract resolution</option>
					{% for label, items in value.scopes %}
						<optgroup label="{{ label }}">
							{% for item in items %}
								<option value="{{ item }}">{{ item }}</option>
							{% endfor %}
						</optgroup>
					{% endfor %}
				</select>
			</td>
		</tr>
	{% endfor %}

{% else %}
	<input type="hidden" id="scope" name="scope" value="{{ value }}">
{% endif %}

{#
<script>
	if ($("#ressel").raw().value === "Other") {
		$("#resolution").raw().readOnly = false
		$("#resolution").gshow()
	}
</script>
#}
