{# tagList #}
{% if newTorrent %}
	<tr>
		<th>
			<label for="tagList" class="required">{{ db.name }}</label>
		</th>

		<td>
			<select id="tagList" name="tagList[]" class="select" multiple>
				<option value="">{{ db.desc }}</option>
				{% for item in tagList %}

					{% set selected = "" %}
					{% if item in value %}
						{% set selected = "selected" %}
					{% endif %}

					<option value="{{ item }}" {{ selected }}>{{ item }}</option>

				{% endfor %}
			</select>

			<aside>You can search within selections</aside>
		</td>
	</tr>
{% endif %}
