{# title #}
<tr id="title_tr">
	<th>
		<label for="title" class="required">{{ db.title.name }}</label>
	</th>

	<td>
		<input type="text" id="title" name="title" placeholder="{{ db.title.desc }}" value="{{ title }}"/>
	</td>
</tr>

{# subject #}
<tr id="title_rj_tr">
	<th>
		<label for="title_rj">{{ db.subject.name }}</label>
	</th>

	<td>
		<input type="text" id="title_rj" name="title_rj" placeholder="{{ db.subject.desc }}" value="{{ subject }}"/>
	</td>
</tr>

{# object #}
<tr id="title_jp_tr">
	<th>
		<label for="title_jp">{{ db.object.name }}</label>
	</th>

	<td>
		<input type="text" id="title_jp" name="title_jp" placeholder="{{ db.object.desc }}" value="{{ object }}"/>
	</td>
</tr>
