{% extends "base.twig" %}

{% block content %}

	<h2>Top tags</h2>

	{# torrentTags #}
	{% if torrentTags is not empty %}
	<section>
		<h3>{{ limit }} most used torrent tags</h3>

		<table data-sortable>
			<thead>
				<tr>
					<th class="center">Rank</th>
					<th>Tag name</th>
					<th class="center">Uses</th>
				</tr>
			</thead>

			<tbody>
				{% for key, item in torrentTags %}
					<tr>
						<td class="center">{{ key + 1 }}</td>
						<th><a href="/torrents.php?tagList[]={{ item.name }}">{{ item.name }}</a></td>
						<td class="center">{{ item.uses|number_format }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	{% endif %}

	{# requestTags #}
	{% if requestTags is not empty %}
	<section>
		<h3>{{ limit }} most used request tags</h3>

		<table data-sortable>
			<thead>
				<tr>
					<th class="center">Rank</th>
					<th>Tag name</th>
					<th class="center">Uses</th>
				</tr>
			</thead>

			<tbody>
				{% for key, item in requestTags %}
					<tr>
						<td class="center">{{ key + 1 }}</td>
						<td><a href="/requests.php?tagList[]={{ item.name }}">{{ item.name }}</a></td>
						<td class="center">{{ item.uses|number_format }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	{% endif %}

{% endblock %}


{% block sidebar %}

	{% include "top10/sidebar.twig" %}

{% endblock %}