{% extends "base.twig" %}

{% block content %}

	<h2>Top users</h2>

	{# dataUploaded #}
	<section>
		<h3>{{ limit }} best data uploaders</h3>

		<table data-sortable>
			<thead>
				<tr>
					<th class="center">Rank</th>
					<th>Username</th>
					<th class="center">Uploaded</th>
					<th class="center">Downloaded</th>
					<th class="center">Ratio</th>
					<th class="center">Upload count</th>
					<th class="center">Join date</th>
				</tr>
			</thead>

			<tbody>
				{% for key, item in dataUploaded %}
					<tr>
						<td class="center">{{ key + 1 }}</td>
						<td class="center">{{ item.id|formatUsername }}</td>
						<td class="center">{{ item.uploaded|get_size }}</td>
						<td class="center">{{ item.downloaded|get_size }}</td>
                        <td class="center">{{ ratio(item.uploaded, item.downloaded) }}</td>
						<td class="center">{{ item.uploadCount|number_format }}</td>
						<td data-value="{{ item.registered }}">
                            <span class="tooltip" title="{{ item.registered|date(env.sqlDate) }}">
                                {{ item.registered|date(env.sqlDate)|relativeTime }}
                            </span>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

    {# dataDownloaded #}
	<section>
		<h3>{{ limit }} best data downloaders</h3>

		<table data-sortable>
			<thead>
				<tr>
					<th class="center">Rank</th>
					<th>Username</th>
					<th class="center">Uploaded</th>
					<th class="center">Downloaded</th>
					<th class="center">Ratio</th>
					<th class="center">Upload count</th>
					<th class="center">Join date</th>
				</tr>
            </thead>

			<tbody>
				{% for key, item in dataDownloaded %}
					<tr>
						<td class="center">{{ key + 1 }}</td>
						<td class="center">{{ item.id|formatUsername }}</td>
						<td class="center">{{ item.uploaded|get_size }}</td>
						<td class="center">{{ item.downloaded|get_size }}</td>
                        <td class="center">{{ ratio(item.uploaded, item.downloaded) }}</td>
						<td class="center">{{ item.uploadCount|number_format }}</td>
						<td data-value="{{ item.registered }}">
                            <span class="tooltip" title="{{ item.registered|date(env.sqlDate) }}">
                                {{ item.registered|date(env.sqlDate)|relativeTime }}
                            </span>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

    {# uploadCount #}
	<section>
		<h3>{{ limit }} best torrent uploaders</h3>

		<table data-sortable>
			<thead>
				<tr>
					<th class="center">Rank</th>
					<th>Username</th>
					<th class="center">Uploaded</th>
					<th class="center">Downloaded</th>
					<th class="center">Ratio</th>
					<th class="center">Upload count</th>
					<th class="center">Join date</th>
				</tr>
            </thead>

			<tbody>
				{% for key, item in uploadCount %}
					<tr>
						<td class="center">{{ key + 1 }}</td>
						<td class="center">{{ item.id|formatUsername }}</td>
						<td class="center">{{ item.uploaded|get_size }}</td>
						<td class="center">{{ item.downloaded|get_size }}</td>
                        <td class="center">{{ ratio(item.uploaded, item.downloaded) }}</td>
						<td class="center">{{ item.uploadCount|number_format }}</td>
						<td data-value="{{ item.registered }}">
                            <span class="tooltip" title="{{ item.registered|date(env.sqlDate) }}">
                                {{ item.registered|date(env.sqlDate)|relativeTime }}
                            </span>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

{% endblock %}


{% block sidebar %}

	{% include "top10/sidebar.twig" %}

{% endblock %}
