{# actions #}
<section>
<h3>Actions</h3>

<form method="post" action="/wiki/browse">
    {{ form_token("/wiki/browse") }}

    <input type="text" name="search" placeholder="Find wiki articles" required>

    <input type="submit" class="button-primary" value="search the wiki">
</form>

<hr>
<br>

<form>
    {% if can("site_edit_wiki") %}
        <a href="/wiki/create" class="button button-primary">create a new article</a>
    {% endif %}

    <a href="/wiki/compare/{{ article.id }}" class="button button-green">view this article's history</a>

    {% if can("site_edit_wiki") and user.extra.Class >= article.minClassEdit and isEditorAvailable %}
        <a id="createUpdateWikiArticle" data-articleid="{{ article.id }}" class="button button-orange">save your edits</a>
    {% endif %}

    {# todo: the index article id is hardcoded here #}
    {% if can("admin_manage_wiki") and article.id != 1 %}
        <a href="/wiki/delete/{{ article.id }}" class="button button-red" onclick="return confirm('Are you sure you want to delete this article?')">delete this article</a>
    {% endif %}
</form>
</section>


{# about this article #}
<section>
<h3>About this article</h3>

<table class="compact">
    <tr>
        <th>Revision</th>
        <td>{{ article.revision }}</td>
    </tr>

    <tr>
        <th>Last edited by</th>
        <td>{{ article.authorId|formatUsername }}</td>
    </tr>

    <tr>
        <th>Last updated</th>
        {% if not article.updatedAt %}
            <td>
                <span class="tooltip" title="{{ article.createdAt }}">{{ article.createdAt|relativeTime }}</span>
            </td>
        {% else %}
            <td>
                <span class="tooltip" title="{{ article.updatedAt }}">{{ article.updatedAt|relativeTime }}</span>
            </td>
        {% endif %}
    </tr>
</table>

<hr>
<br>

<table class="compact">
    <tr>
        <th>Minimum read class</th>
        {% if can("admin_manage_wiki") and user.extra.Class >= article.minClassEdit and isEditorAvailable %}
            <td>
                <select id="minClassRead">
                    {% for key, value in roles %}
                        <option value="{{ key }}" {{ (article.minClassRead == key) ? "selected" : "" }}>{{ value }}</option>
                    {% endfor %}
                </select>
            </td>
        {% else %}
            <td>{{ roles[article.minClassRead] }}</td>
        {% endif %}
    </tr>

    <tr>
        <th>Minimum edit class</th>
        {% if can("admin_manage_wiki") and user.extra.Class >= article.minClassEdit and isEditorAvailable %}
            <td>
                <select id="minClassEdit">
                    {% for key, value in roles %}
                        <option value="{{ key }}" {{ (article.minClassEdit == key) ? "selected" : "" }}>{{ value }}</option>
                    {% endfor %}
                </select>
            </td>
        {% else %}
            <td>{{ roles[article.minClassEdit] }}</td>
        {% endif %}
    </tr>
</table>
</section>


{# aliases #}
<section>
<h3>Aliases</h3>

<table id="wikiAliases" class="compact">
    {% for item in aliases %}
        <tr>
            <th>{{ item }}</th>
            <td class="right">
                {% if can("admin_manage_wiki") %}
                    <a class="button deleteWikiAlias" data-articleid="{{ article.id }}" data-alias="{{ item }}">delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

<form>
    <input type="text" name="alias" id="newAliasContent" data-articleid="{{ article.id }}" placeholder="e.g., someDescriptiveSlug">

    <a class="button button-primary" id="createWikiAlias">add an alias</a>
</section>
