{# https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts #}

{#
<pre>
    {{ dump(user) }}
</pre>
#}


{# page title #}
{% if title is defined %}
{% set title = "#{title} #{env.separator} #{env.siteName}" %}

{% else %}
{% set title = env.siteName %}
{% endif %}


{# layout: sidebar? #}
{% if sidebar is defined %}
{% set layoutContent = "two-thirds column" %}
{% set layoutSidebar = "one-third column" %}

{% else %}
{% set layoutContent = "column" %}
{% set layoutSidebar = "" %}
{% endif %}


{# user variables #}
{% if authenticated %}
{% set userId = user.core.id ?? null %}
{% set rssKey = user.extra.RSS_Auth ?? null %}
{% set passKey = user.extra.torrent_pass ?? null %}
{% set authKey = user.extra.AuthKey ?? null %}
{% set userStyle = user.extra.StyleName ?? "bookish" %}

{# todo: test this #}
{% set styleAdditions = null %}
{# {% set styleAdditions = user.extra.StyleAdditions|join("style_") ?? null %} #}

{% endif %}


{# html #}
<!DOCTYPE html>
<html>

<head>

    {# title #}
    <title>{{ title }}</title>

    {# metaTags.twig #}
    {{ include("_base/metaTags.twig") }}


    {# start javascript block #}
    {% block javascript %}

    {# core essentials: do not defer #}
    <script src="/js/vendor/jquery.min.js"></script>
    <script src="/js/vendor/instantpage.min.js" type="module"></script>

    {# gazelle global: do not defer #}
    <script src="/js/global.js"></script>

    {# main menu #}
    <script defer src="/js/menus.js"></script>

    {# DebugBar #}
    {% if env.dev %}
    {{ debugHeader() }}
    {% endif %}
    
    {# easymde #}
    <script defer src="/js/vendor/easymde.min.js"></script>
    <script defer src="/js/vendor/highlight.min.js"></script>

    {# plausible #}
    {% if env.enablePlausible %}
    <script defer data-domain="{{ env.siteDomain }}" src="https://stats.torrents.bio/js/plausible.js"></script>
    {% endif %}

    {# extra js #}
    {% if js is defined %}
    {% for js in js %}
    <script defer src="/js/{{ js }}.js"></script>
    {% endfor %}
    {% endif %}

    {% endblock %}
    {# end javascript block #}


    {# start stylesheets block #}
    {% block stylesheets %}

    {# core essentials #}
    <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/skeleton.min.css">

    {# gazelle global #}
    <link rel="stylesheet" type="text/css" href="/css/global.css" />

    {# easymde #}
    <link rel="stylesheet" type="text/css" href="/css/vendor/easymde.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/vendor/highlight.min.css" />

    {% if authenticated %}
    {# private #}
    <link rel="stylesheet" type="text/css" href="/css/{{ userStyle }}.css" />

    {# external stylesheet #}
    {% if user.extra.StyleURL is defined %}
    <link rel="stylesheet" type="text/css" href="{{ user.extra.StyleURL }}" />
    {% endif %}

    {% else %}
    {# public #}
    <link rel="stylesheet" type="text/css" href="/css/public.css" />
    {% endif %}

    {% if env.dev %}
    <link rel="stylesheet" type="text/css" href="/css/development.css" />
    {% endif %}

    {# extra css #}
    {% if css is defined %}
    {% for css in css %}
    <link rel="stylesheet" type="text/css" href="/css/{{ css }}.css" />
    {% endfor %}
    {% endif %}

    {% endblock %}
    {# end stylesheets block #}


    {# start rss block #}
    {% block rss %}

    {# user notification feeds #}
    {# todo: test this #}
    {#
    {% if authenticated and user.extra.Notify is defined %}
    {% for filter in user.extra.Notify %}
    <link rel="alternate" type="application/rss+xml"
        href="/feeds?feed=torrents_notify_{{ filter.ID }}_{{ passKey }}&user={{ userId }}&auth={{ rssKey }}&passkey={{ passKey }}&authkey={{ authKey }}"
        title="{{ filter.Name }} {{ env.separator }} {{ env.siteName }}" />
    {% endfor %}
    {% endif %}
    #}

    {# new category uploads #}
    {#
    {% for category in env.CATS %}
    <link rel="alternate" type="application/rss+xml"
        href="feeds?feed=torrents_{{ category.Name|lower }}&user={{ userId }}&auth={{ rssKey }}&passkey={{ passKey }}&authkey={{ authKey }}"
        title="New {{ category.Name }} Torrents {{ env.separator }} {{ env.siteName }}" />
    {% endfor %}
    #}

    {# all torrents #}
    {#
    <link rel="alternate" type="application/rss+xml"
        href="feeds?feed=torrents_all&user={{ userId }}&auth={{ rssKey }}&passkey={{ passKey }}&authkey={{ authKey }}"
        title="All New Torrents {{ env.separator }} {{ env.siteName }}" />
    #}
    
    {# news #}
    {#
    <link rel="alternate" type="application/rss+xml"
        href="feeds?feed=feed_news&user={{ userId }}&auth={{ rssKey }}&passkey={{ passKey }}&authkey={{ authKey }}"
        title="Site News {{ env.separator }} {{ env.siteName }}" />
    #}
  
    {# blog: same feed #}
    {#
    <link rel="alternate" type="application/rss+xml"
        href="feeds?feed=feed_news&user={{ userId }}&auth={{ rssKey }}&passkey={{ passKey }}&authkey={{ authKey }}"
        title="Blog {{ env.separator }} {{ env.siteName }}" />
    #}

    {% endblock %}
    {# end rss block #}

</head>


{# head body break #}


<body>
{# <body class="{{ styleAdditions }}"> #}
    <header>
        {% if authenticated %}
        {# private #}
        {{ include("_base/mainMenu.twig") }}
        {{ include("_base/userInfo.twig") }}

        {% else %}
        {# public #}
        {{ include("_base/publicHeader.twig") }}

        {% endif %}
    </header>


    <main class="container">
        <div class="row">


            {# splash logo #}
            {% if not authenticated %}
            <figure id="logo"></figure>
            {% endif %}


            {# main content #}
            {% if breadcrumbs is defined %}
            <h2 id="breadcrumbs">{{ include("_base/breadcrumbs.twig") }}</h2>
            {% endif %}

            <section id="content" class="{{ layoutContent }}">
                {% block content %}
                {% endblock %}
            </section>


            {# sidebar #}
            <section id="sidebar" class="{{ layoutSidebar }}">
                {% block sidebar %}
                {% endblock %}
            </section>


        </div>
    </main>


    {# footer #}
    <footer>
        {% block footer %}
        {% if authenticated %}
        {# private #}

        {% else %}
        {# public #}
        {{ include("_base/publicFooter.twig") }}

        {% endif %}
        {% endblock %}
    </footer>

{# global javascript variables #}
<script>
    hljs.highlightAll;
</script>
</body>

</html>