{# https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts #}

{# private or public #}
{% if user.username is defined %}
{% set private = true %}

{% else %}
{% set private = false %}
{% endif %}

{# page title #}
{% if title is defined %}
{% set title = "#{title} #{env.separator} #{env.siteName}" %}

{% else %}
{% set title = env.siteName %}
{% endif %}

{# layout: sidebar? #}
{% if sidebar is defined %}
{% set layoutContent = "two-thirds column" %}
{% set layoutSidebar = "one-third column" %}

{% else %}
{% set layoutContent = "column" %}
{% set layoutSidebar = "" %}
{% endif %}


<!DOCTYPE html>
<html>

<head>

    {# title #}
    <title>{{ title }}</title>

    {# metaTags.twig #}
    {{ include("_base/metaTags.twig") }}


    {# start javascript block #}
    {% block javascript %}

    <script defer src="/js/vendor/jquery.min.js"></script>
    <script defer src="/js/vendor/instantpage.min.js" type="module"></script>
    <script defer data-domain="{{ env.SITE_DOMAIN }}" src="https://stats.torrents.bio/js/plausible.js"></script>

    {% endblock %}
    {# end javascript block #}


    {# start stylesheets block #}
    {% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/vendor/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css" />

    {% if private %}
    {# private #}

    {% else %}
    {# public #}
    <link rel="stylesheet" type="text/css" href="/css/public.css" />

    {% endif %}

    {% if env.dev is defined %}
    <link rel="stylesheet" type="text/css" href="/css/development.css" />
    {% endif %}

    {% endblock %}
    {# end stylesheets block #}


    {# start rss block #}
    {% block rss %}

    {% endblock %}
    {# end rss block #}

</head>


{# head body break #}


<body>
    <header>

        {% if private %}
        {# private #}
        {{ include("_base/mainMenu.twig") }}
        {{ include("_base/userInfo.twig") }}

        {% else %}
        {# public #}
        {{ include("_base/publicHeader.twig") }}

        {% endif %}
    </header>

    <main class="container">
        <div class="row">


            {# splash logo #}
            {% if private != true %}
            <figure id="logo"></figure>
            {% endif %}

            {# main content #}
            <section id="content" class="{{ layoutContent }}">
                {% block content %}
                {% endblock %}
            </section>

            {# sidebar #}
            <section id="sidebar" class="{{ layoutSidebar }}">
                {% block sidebar %}
                {% endblock %}
            </section>


        </div>
    </main>

    {# footer #}
    <footer>
        {% block footer %}
        {% if private %}
        {# private #}

        {% else %}
        {# public #}
        {{ include("_base/publicFooter.twig") }}

        {% endif %}
        {% endblock %}
    </footer>

</body>

</html>