<h3>Actions</h3>

<form method="post">
    {{ form_token(query.server.REQUEST_URI) }}

    <input type="button" id="create" name="create" value="new thread" class="button-primary" />

    <input type="button" id="unread" name="unread" value="unread" class="button-orange" />

    <input type="button" id="subscribe" name="subscribe" value="subscribe" />
</form>


{% if freeleeches is defined %}
<h3>Current freeleeches</h3>

<ul>

    {% for freeleech in freeleeches %}
    <li>
        <a href="{# /boards/{{ topic.categorySlug }}/{{ topic.slug }} #}">{{ blog.Title }}</a>
        <br />

        <span class="u-pull-left">
            {{ topic.Username }}
        </span>

        <span class="u-pull-right">
            {{ topic.Time|relativeTime }}
        </span>
    </li>
    {% endfor %}

</ul>
{% endif %}

{#
<ul class="stats nobullet">
    <?php
  for ($i = 0; $i < count($freeleeches); $i++) {
      list($ID, $ExpiryTime, $Name, $Image) = $freeleeches[$i];
      if ($ExpiryTime < time()) {
          continue;
      }
      $DisplayTime = '('.str_replace(['year','month','week','day','hour','min','Just now','s',' '], ['y','M','w','d','h','m','0m'], time_diff($ExpiryTime, 1, false)).') ';
      $DisplayName = '<a href="torrents.php?torrentid='.$ID.'"';
      if (!isset($user['CoverArt']) || $user['CoverArt']) {
          $DisplayName .= ' data-cover="'.\Gazelle\Images::process($Image, 'thumb').'"';
      }
      $DisplayName .= '>'.$Name.'</a>'; ?>
    <li>
        <strong class="fl_time">
            <?=$DisplayTime?>
        </strong>
        <?=$DisplayName?>
    </li>
    <?php
  } ?>
</ul>
</div>
<?php
}
?>

if (count($Freeleeches)) {
?>
<div class="box">
    <div class="head colhead_dark"><strong><a
                href="torrents.php?freetorrent=1&order_by=seeders&order_way=asc">Freeleeches</a></strong></div>
    <ul class="stats nobullet">
        <?php
  for ($i = 0; $i < count($freeleeches); $i++) {
      list($ID, $ExpiryTime, $Name, $Image) = $freeleeches[$i];
      if ($ExpiryTime < time()) {
          continue;
      }
      $DisplayTime = '('.str_replace(['year','month','week','day','hour','min','Just now','s',' '], ['y','M','w','d','h','m','0m'], time_diff($ExpiryTime, 1, false)).') ';
      $DisplayName = '<a href="torrents.php?torrentid='.$ID.'"';
      if (!isset($user['CoverArt']) || $user['CoverArt']) {
          $DisplayName .= ' data-cover="'.\Gazelle\Images::process($Image, 'thumb').'"';
      }
      $DisplayName .= '>'.$Name.'</a>'; ?>
        <li>
            <strong class="fl_time">
                <?=$DisplayTime?>
            </strong>
            <?=$DisplayName?>
        </li>
        <?php
  } ?>
    </ul>
</div>
<?php
}
#}


{% if blog is defined %}
<h3>Latest blog posts</h3>

<ul>

    {% for blog in blog %}
    <li>
        <a href="{# /boards/{{ topic.categorySlug }}/{{ topic.slug }} #}">{{ blog.Title }}</a>
        <br />

        <span class="u-pull-left">
            {{ topic.Username }}
        </span>

        <span class="u-pull-right">
            {{ topic.Time|relativeTime }}
        </span>
    </li>
    {% endfor %}

</ul>
{% endif %}


{% if topic.suggested_topics is defined %}
<h3>Suggested</h3>

<ul>

    {% for topic in topic.suggested_topics %}
    <li>
        <a href="/boards/{{ category }}/{{ topic.slug }}">{{ topic.title }}</a>
        <br />
        {{ topic.last_posted_at|relativeTime }}
    </li>
    {% endfor %}

</ul>
{% endif %}