<nav id="userInfo">

    {# major #}
    <ul id="userInfoMajor">

        {# upload #}
        {#
        <li id="nav_upload">
            <a href="/upload.php">Upload</a>
        </li>
        #}

        {# invite #}
        {#
        <li id="nav_invite">
            <a href="/user.php?action=invite">Invite {{ user.extra.Invites }}</a>
        </li>
        #}

        {# donate #}
        {#
        {% if env.enableDonations %}
        <li id="nav_donate">
            <a href="/donate.php">Donate</a>
        </li>
        {% endif %}
        #}

        {# staff #}
        {#
        <li id="nav_staff">
            <a href="/staff.php">Staff</a>
        </li>
        #}
    </ul>


    {# stats #}
    <ul id="userInfo_stats">

        {# seeding #}
        <li id="stats_seeding">
            <a href="/torrents.php?type=seeding&userid={{ user.core.id }}">Up</a>:
            <span class="stat tooltip" title="{{ user.extra.Uploaded|get_size(levels = 5) }}">
                {{ user.extra.Uploaded|get_size }}
            </span>
        </li>

        {# leeching #}
        <li id="stats_leeching">
            <a href="/torrents.php?type=leeching&userid={{ user.core.id }}">Down</a>:
            <span class="stat tooltip" title="{{ user.extra.Downloaded|get_size(levels = 5) }}">
                {{ user.extra.Downloaded|get_size }}
            </span>
        </li>

        {# ratio #}
        <li id="stats_ratio">
            Ratio:
            <span class="stat">
                {{ ratio(user.extra.Uploaded, user.extra.Downloaded) }}
            </span>
        </li>

        {# required ratio #}
        {% if user.extra.RequiredRatio and user.extra.RequiredRatio > 0 %}
        <li id="stats_required">
            <a href="/rules/ratio">Required</a>:
            <span class="stat tooltip" title="{{ user.extra.RequiredRatio|float(decimals = 5) }}">
                {{ user.extra.RequiredRatio|float }}
            </span>
        </li>
        {% endif %}
    </ul>


    {# extra #}
    <ul id="userInfoExtra">

        {# freeleech tokens #}
        {% if user.extra.FLTokens > 0 %}
        <li id="fl_tokens">
            <a href="/wiki/tokens">Tokens</a>:
            <span class="stat">
                <a href="/userhistory.php?action=token_history&userid={{ user.core.id }}">
                    {{ user.extra.FLTokens }}
                </a>
            </span>
        </li>
        {% endif %}

        {# bonus points #}
        <li id="bonus_points">
            <a href="/wiki/bonusPoints">{{ env.bonusPoints }}</a>:
            <span class="stat">
                <a href="/store">{{ user.extra.BonusPoints|number_format }}</a>
            </span>
        </li>

        {# hit and runs #}
        {% if user.extra.HnR > 0 %}
        <li id="hnr">
            <a href="/snatchlist.php">HnRs</a>:
            <span class="stat">
                <a>{{ user.extra.HnR }}</a>
            </span>
        </li>
        {% endif %}
    </ul>

</nav>