{##
 # main torrent search form
 #}

<form class="search_form" name="torrents" method="post" {# onsubmit="$(this).disableUnset();" #}>

    {# csrf token #}
    {{ form_token(query.server.REQUEST_URI) }}

    {# basic/advanced filter #}
    <div class="box filter_torrents">
      <div class="head">
        <strong>
          <span id="ft_basic" class="{{ hideBasic }}">Basic Search
            (<a class="clickable" onclick="toggleTorrentSearch('advanced')">Advanced</a>)</span>
          <span id="ft_advanced" class="{{ hideAdvanced }}">Advanced
            Search (<a class="clickable" onclick="toggleTorrentSearch('basic')">Basic</a>)</span>
        </strong>
        <span class="u-pull-right">
          <a onclick="return toggleTorrentSearch(0);" id="ft_toggle" class="brackets"><?=$HideFilter ? 'Show' : 'Hide'?></a>
        </span>
      </div>
      <div id="ft_container"
        class="pad<?=$HideFilter ? ' hidden' : ''?>">
        {#
        <?php
        # Three profile toggles
        if ((isset($app->userNew->extra['HideLolicon']) && $app->userNew->extra['HideLolicon'] === 1)
         || (isset($app->userNew->extra['HideScat'])    && $app->userNew->extra['HideScat']    === 1)
         || (isset($app->userNew->extra['HideSnuff'])   && $app->userNew->extra['HideSnuff']   === 1)
        ) { ?>
        <svg title="Your profile settings exclude some results" class="search_warning tooltip" width="10" height="15">
          <rect x=3 width="4" height="10" rx="2" ry="2" />
          <circle cx="5" cy="13" r="2" />
        </svg>
        <?php
        } ?>
        #}

        <table class="torrent_search skeleton-fix">




          <tr id="numbers" class="ftr_advanced{{ hideAdvanced }}">


            <td class="label">
              {#
                Accession Number / Version
              #}
            </td>
            <td class="ft_numbers">
              <input type="search" size="30" name="numbers" class="inputtext smallest fti_advanced"
                placeholder="Accession Number / Version" value="{{ query.post.numbers ?? null }}" />
            </td>
          </tr>

          <tr id="album_torrent_title"
            class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">
              {# Torrent Title / Organism / Strain or Variety #}
            </td>
            <td class="ft_groupname">
              <input type="search" spellcheck="false" size="65" name="advgroupname"
                class="inputtext smaller fti_advanced" placeholder="Torrent Title / Organism / Strain or Variety"
                value="{{ query.post.advgroupname ?? null }}" />
            </td>
          </tr>

          <tr id="artist_name"
            class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">
              {# Artist Name #}
            </td>
            <td class="ft_artistname">
              <input type="search" spellcheck="false" size="65" id="artist" name="artistname"
                class="inputtext smaller fti_advanced" placeholder="Author (ORCiD pending)"
                value="{{ query.post.artistname ?? null }}" />
            </td>
          </tr>

          <tr id="location" class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">
              {# Studio / Series #}
            </td>
            <td class="ft_location">
              <input type="search" name="location" class="inputtext smallest fti_advanced"
                placeholder="Department or Lab / Location" value="{{ query.post.location ?? null }}" size="40" />

              {# Year #}
              <input type="search" name="year" class="inputtext smallest fti_advanced" placeholder="Year"
                value="{{ query.post.year ?? null }}" size="20" />
            </td>
          </tr>

          <tr id="torrent_description"
            class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">
              {# Torrent Description #}
            </td>
            <td class="ft_description">
              <input type="search" spellcheck="false" size="65" name="description" class="inputtext fti_advanced"
                placeholder="Torrent Description"
                value="{{ query.post.description ?? null }}" /><br /><br />
              Search torrent descriptions (not group information)
            </td>
          </tr>

          <tr id="file_list" class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">
              {# File List #}
            </td>
            <td class="ft_filelist">
              <input type="search" spellcheck="false" size="65" name="filelist" class="inputtext fti_advanced"
                placeholder="File List" value="{{ query.post.filelist ?? null }}" /><br /><br />
              Universal Search finds info hashes
            </td>
          </tr>

          {# Platforms #}
          <tr id="rip_specifics"
            class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">Platforms</td>
            <td class="nobr ft_ripspecifics">

              <select name="media" class="ft_media fti_advanced">
                <option value="Sequences">Sequences</option>

                {% for platform in env.META.Platforms.Sequences %}


                {% if query.post.media == platform %}
                {% set selected = "selected" %}
                {% else %}
                {% set selected = "" %}
                {% endif %}

                
                <option value="{{ platform }}" {{ selected }}>
                  {{ platform }}
                </option>
                {% endfor %}
              </select>

              <select name="media" class="ft_media fti_advanced">
                <option value="">Graphs</option>
                {% for platform in env.META.Platforms.Graphs %}
                <option value="{{ platform }}" {# {{ (query.post.media == platform) ?? "selected" }} #}>
                  {{ platform }}
                </option>
                {% endfor %}
              </select>

              <select name="media" class="ft_media fti_advanced">
                <option value="">Images</option>
                {% for platform in env.META.Platforms.Images %}
                <option value="{{ platform }}" {# {{ (query.post.media == platform) ?? "selected" }} #}>
                  {{ platform }}
                </option>     
                {% endfor %}
              </select>

              <select name="media" class="ft_media fti_advanced">
                <option value="">Documents</option>
                {% for platform in env.META.Platforms.Documents %}
                <option value="{{ platform }}" {# {{ (query.post.media == platform) ?? "selected" }} #}>
                  {{ platform }}
                </option>      
                {% endfor %}
              </select>

            </td>
          </tr>

          {# Formats #}
          <tr id="rip_specifics"
            class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">Formats</td>
            <td class="nobr ft_ripspecifics">

              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">NucleoSeq</option>
                {% for key, value in nucleoSeq %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>
                {% endfor %}
              </select>

              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">ProtSeq</option>
                {% for key, value in protSeq %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>    
               {% endfor %}
              </select>


              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">XMLs</option>
                {% for key, value in xmls %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>       
                 {% endfor %}
              </select>

              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">Raster</option>
                {% for key, value in raster %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>      
                {% endfor %}
              </select>

              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">Vector</option>
                {% for key, value in vector %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>
                {% endfor %}
              </select>

              <select id=" container" name="container" class="ft_container fti_advanced">
                <option value="">Extras</option>
                {% for key, value in extras %}
                <option value="{{ key }}" {# {{ (query.post.container == key) ?? "selected" }} #}>
                  {{ key }}
                </option>       
               {% endfor %}
              </select>

            </td>
          </tr>

          {# Misc #}
          <tr id="misc" class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">Misc</td>
            <td class="nobr ft_misc">

              <select name="resolution" class="ft_resolution fti_advanced">
                <option value="">Scope</option>

                  {% for resolution in resolutions %}
                <option value="{{ resolution }}" {# {{ (query.post.resolution == resolution) ?? "selected" }} #}>
                 {{ resolution }}
                </option>
                {% endfor %}
              </select>

              {# Aligned/Censored #}
              <select name=" censored" class="ft_censored fti_advanced">
                <option value="">Alignment</option>

                <option value="1" {# {{ (query.post.censored == 1) ?? "selected" }} #}>
                  Aligned
                </option>

                <option value="0" {# {{ (query.post.censored == 0) ?? "selected" }} #}>
                  Not Aligned
                </option>
              </select>

              {# Leech Status #}
              <select name="freetorrent" class="ft_freetorrent fti_advanced">
                <option value="">Leech Status</option>

                <option value="1" {# {{ (query.post.freetorrent == 1) ?? "selected" }} #}>
                  Freeleech
                </option>

                <option value="2" {# {{ (query.post.freetorrent == 2) ?? "selected" }} #}>
                  Neutral Leech
                </option>

                <option value="3" {# {{ (query.post.freetorrent == 3) ?? "selected" }} #}>
                  Either
                </option>

                <option value="0" {# {{ (query.post.freetorrent == 0) ?? "selected" }} #}>
                  Normal
                </option>

              </select>

              {# Codec/License #}
              <select name="codec" class="ft_codec fti_advanced">
                <option value="">License</option>
                  {% for license in env.META.Licenses %}
                <option value="{{ license }}" {# {{ (query.post.codec == license) ?? "selected" }} #}>
                   {{ license }}
                </option>
                {% endfor %}
              </select>
            </td>
          </tr>

          {# Size #}
          <tr id="size" class="ftr_advanced{{ hideAdvanced }}">
            <td class="label">Size</td>
            <td class="ft_size">

              <input type="size_min" spellcheck="false" size="6" name="size_min" class="inputtext smaller fti_advanced"
                placeholder="Min" value="{{ query.post.size_min ?? null }}" />

              &ndash;

              <input type="size_max" spellcheck="false" size="6" name="size_max" class="inputtext smaller fti_advanced"
                placeholder="Max" value="{{ query.post.size_max ?? null }}" />

              <select name="size_unit" class="ft_size fti_advanced">
                <option value="">Unit</option>

                <option value="0" {# {{ (query.post.size_unit == 0) ?? "selected" }} #}>
                  B
                </option>

                <option value="1" {# {{ (query.post.size_unit == 0) ?? "selected" }} #}>
                  KiB
                </option>

                <option value="2" {# {{ (query.post.size_unit == 0) ?? "selected" }} #}>
                  MiB
                </option>

                <option value="3" {# {{ (query.post.size_unit == 0) ?? "selected" }} #}>
                  GiB
                </option>

                <option value="4" {# {{ (query.post.size_unit == 0) ?? "selected" }} #}>
                  TiB
                </option>
              </select>
            </td>
          </tr>

          {# Start basic search options #}
          <tr id="search_terms" class="ftr_basic{{ hideBasic }}">
            <td class="label">
              {# Universal Search #}
            </td>
            <td class="ftb_search">
              <input type="search" spellcheck="false" size="48" name="search" class="inputtext fti_basic"
                placeholder="Universal Search" value="{{ query.post.search ?? null }}" aria-label="Terms to search">
            </td>
          </tr>

          <tr id="tagfilter">
            <td class="label">
              {# Tags (comma-separated) #}
            </td>
            <td class="ft_taglist">
              <input type="search" size="37" id="tags" name="taglist" class="inputtext smaller"
                placeholder="Tags (comma-separated)"
                value="{{ tagList }}"
                aria-label="Tags to search">&nbsp;
              <input type="radio" name="tags_type" id="tags_type0" value="0" <?Format::selected(
            'tags_type',
            0,
            'checked'
        )?>
              /><label for="tags_type0"> Any</label>&nbsp;&nbsp;
              <input type="radio" name="tags_type" id="tags_type1" value="1" <?Format::selected(
                    'tags_type',
                    1,
                    'checked'
                )?>
              /><label for="tags_type1"> All</label><br /><br />
              Use !tag to exclude tags
            </td>
          </tr>

          {# Order By #}
          <tr id="order">
            <td class="label">Order By</td>
            <td class="ft_order">
              <select name="order_by" style="width: auto;" class="ft_order_by" aria-label="Property to order by">
                <option value="time"
                {# {{ (query.post.order_by == "time") ?? "selected" }} #}
                  >
                  Time Added
                </option>

                <option value="year"
                 {# {{ (query.post.order_by == "year") ?? "selected" }} #}
                 >
                  Year
                </option>

                <option value="size"
                {# {{ (query.post.order_by == "size") ?? "selected" }} #}
                >
                  Size
                </option>

                <option value="snatched"
                {# {{ (query.post.order_by == "snatched") ?? "selected" }} #}
                >
                  Snatched
                </option>

                <option value="seeders"
                {# {{ (query.post.order_by == "seeders") ?? "selected" }} #}
                >
                  Seeders
                </option>

                <option value="leechers"   
                 {# {{ (query.post.order_by == "leechers") ?? "selected" }} #}
                >
                  Leechers
                </option>

                <option value="cataloguenumber"      
                {# {{ (query.post.order_by == "cataloguenumber") ?? "selected" }} #}
                >
                  Accession Number
                </option>

                <option value="random"
                {# {{ (query.post.order_by == "random") ?? "selected" }} #}
                >
                  Random
                </option>

              </select>

              <select name="order_way" class="ft_order_way" aria-label="Direction to order">
                <option value="desc"
                {# {{ (query.post.order_way == "desc") ?? "selected" }} #}
                >
                  Descending
                </option>

                <option value="asc"
                {# {{ (query.post.order_way == "asc") ?? "selected" }} #}
                >
                  Ascending
                </option>
              </select>
            </td>
          </tr>

          {# Use torrent groups? #}
          <tr id="search_group_results">
            <td class="label">
              <label for="group_results">Group Torrents</label>
            </td>
            <td class="ft_group_results">
              <input type="checkbox" value="1" name="group_results" id="group_results" {{ (groupResults) ? "checked='checked'" : "" }}>
              />
            </td>
          </tr>
        </table>

        <table class="layout cat_list ft_cat_list">
          <?php
            $x = 0;
            reset($Categories);
            foreach ($Categories as $CatKey => $CatName) {
                if ($x % 7 === 0) {
                    if ($x > 0) {
                        ?>
          </tr>
          <?php
                    } ?>
          <tr>
            <?php
                }
                $x++; ?>
            <td>
              <input type="checkbox"
                name="filter_cat[<?=($CatKey + 1)?>]"
                id="cat_<?=($CatKey + 1)?>" value="1" <?php if (isset($_GET['filter_cat'][$CatKey + 1])) { ?>
              checked="checked"<?php } ?> />
              <label for="cat_<?=($CatKey + 1)?>"><?=$CatName?></label>
            </td>
            <?php
            } ?>
          </tr>
        </table>
        <table
          class="layout cat_list<?php if (empty($app->userNew->extra['ShowTags'])) { ?> hidden<?php } ?>"
          id="taglist">
          <tr>
            {#
            <?php
  $GenreTags = $app->cacheOld->get_value('genre_tags');
  if (!$GenreTags) {
      $app->dbOld->query('
      SELECT Name
      FROM tags
        WHERE TagType = \'genre\'
      ORDER BY Name');
      $GenreTags = $app->dbOld->collect('Name');
      $app->cacheOld->cache_value('genre_tags', $GenreTags, 3600 * 6);
  }

  $x = 0;
  foreach ($GenreTags as $Tag) {
      ?>
            <td><a href="#"
                onclick="add_tag('<?=$Tag?>'); return false;"><?=$Tag?></a></td>
            <?php
    $x++;
      if ($x % 7 === 0) {
          ?>
          </tr>
          <tr>
            <?php
      }
  }
  if ($x % 7 !== 0) { // Padding
  ?>
            <td colspan="<?=(7 - ($x % 7))?>"> </td>
            <?php } ?>
            #}
          </tr>
        </table>

        {# Categories #}
        <table class="layout cat_list">
          <tr>
            <td class="label">
              <a class="brackets" data-toggle-target="#taglist"
                data-toggle-replace="<?=(empty($app->userNew->extra['ShowTags']) ? 'Hide tags' : 'View tags')?>"><?=(empty($app->userNew->extra['ShowTags']) ? 'View tags' : 'Hide tags')?></a>
            </td>
          </tr>
        </table>

        {# Result count, submit, and reset #}
        <div class="submit ft_submit">
          <span class="u-pull-left">
            {{ resultCount }}
            Results
          </span>

          <input type="submit" value="Search" class="button-primary" />

          <input type="hidden" name="advanced_search" id="ft_type"
            value="{{ (advancedSearch) ? true : false }}" />

          <input type="hidden" name="searchsubmit" value="1" />

          <input type="button" value="Reset" <input type="button" value="Reset"
            onclick="window.location.href = 'torrents.php<?php if (isset($_GET['advanced_search']) && $_GET['advanced_search'] === 'true') { ?>?advanced_search=true<?php } ?>'" />

          &emsp;

            {% if searchHasFilters %}
          <input type="submit" name="setdefault" value="Make Default" />
          {% endif %}

          {% if user.extra.DefaultSearch is defined %}
          <input type="submit" name="cleardefault" value="Clear Default" />
          {% endif %}
        </div>
      </div>
    </div>
  </form>
