{##
 # main torrent search form
 #}

<h2>Torrents</h2>

{# the form itself #}
<form id="torrentSearch" name="torrentSearch" method="post">

	{# csrf token #}
	{{ form_token(query.server.REQUEST_URI) }}


	{# simple search form #}
	<section id="simpleSearch">
		<div id="searchFormHeader">
		<h3>Simple search</h3>
	<a id="showComplexSearch" class="button button-orange u-pull-right">show complex search</a>
</div>
		<table class="torrentSearch">

			{# universal search #}
			<tr>
				{# <th/> #}
				<td>
					<input type="text" name="simpleSearch" placeholder="Search for anything, anywhere" value="{{ searchTerms.simpleSearch }}">
				</td>
			</tr>
		</table>
	</section> {# basicSearch #}


	{# complex search form #}
	<section id="complexSearch">
	<div id="searchFormHeader">
		<h3>Complex search</h3>
	<a id="showSimpleSearch" class="button button-orange u-pull-right">show simple search</a>
</div>

		<table class="torrentSearch">

			{# essentials #}
			<tr id="essentials">
				<th>Essentials</th>
				<td>
					{# torrent title / organism / strain or variety #}
					<input type="text" name="complexSearch" placeholder="Torrent title / organism / strain or variety" value="{{ searchTerms.complexSearch }}"/>
				</td>
			</tr>

			{# numbers #}
			<tr id="numbers">
				<th>Numbers</th>
				<td>
					{# identifier / accession number / version #}
					<input type="text" name="numbers" placeholder="Identifier / accession number / version" value="{{ searchTerms.numbers }}"/>

					{# year #}
					<input type="text" name="year" placeholder="Year" value="{{ searchTerms.year }}"/>
				</td>
			</tr>

			{# people #}
			<tr id="people">
				<th>People</th>
				<td>
					{# department or lab / location #}
					<input type="text" name="location" placeholder="Department or lab / location" value="{{ searchTerms.location }}"/>

					{# creator #}
					<input type="text" name="creator" placeholder="Creator (ORCiD pending)" value="{{ searchTerms.creator }}"/>
				</td>
			</tr>

			{# files #}
			<tr id="files">
				<th>Files</th>
				<td>
					{# torrent description #}
						<input type="text" name="description" placeholder="Torrent or group description" value="{{ searchTerms.description }}"/>

					{# file list #}
						<input type="text" name="fileList" placeholder="File list or info hash" value="{{ searchTerms.fileList }}"/>
				</td>
			</tr>

			{# platforms #}
			<tr id="platforms">
				<th>Platforms</th>
				<td>

					{# sequences #}
					<select id="sequencePlatforms" name="platforms[]" placeholder="Sequences" multiple>
						{% for item in env.META.Platforms.Sequences %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# graphs #}
					<select id="graphPlatforms" name="platforms[]" placeholder="Graphs" multiple>
						{% for item in env.META.Platforms.Graphs %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# images #}
					<select id="imagePlatforms" name="platforms[]" placeholder="Images" multiple>
						{% for item in env.META.Platforms.Images %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# documents #}
					<select id="documentPlatforms" name="platforms[]" placeholder="Documents" multiple>
						{% for item in env.META.Platforms.Documents %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

				</td>
			</tr>

			{# formats #}
			<tr id="formats">
				<th>Formats</th>
				<td>

					{# nucleoSeq #}
					<select id="nucleoSeqFormats" name="formats[]" placeholder="NucleoSeq" multiple>
						{% for key, value in env.META.Formats.Sequences %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# protSeq #}
					<select id="protSeqFormats" name="formats[]" placeholder="ProtSeq" multiple>
						{% for key, value in env.META.Formats.Proteins %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# xml #}
					<select id="xmlFormats" name="formats[]" placeholder="XMLs" multiple>
						{% for key, value in xmls %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# raster #}
					<select id="rasterFormats" name="formats[]" placeholder="Raster" multiple>
						{% for key, value in raster %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# vector #}
					<select id="vectorFormats" name="formats[]" placeholder="Vector" multiple>
						{% for key, value in vector %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# other #}
					<select id="otherFormats" name="formats[]" placeholder="Other" multiple>
						{% for key, value in extras %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>

								{{ key }}
							</option>
						{% endfor %}
					</select>

				</td>
			</tr>

			{# misc #}
			<tr id="misc">
				<th>Misc</th>
				<td>

					{# scope #}
					<select name="scope">
						<option value="">Scope</option>
						{% for item in resolutions %}
							<option value="{{ item }}" {{ (searchTerms.scope == item) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# alignment #}
					<select name="alignment">
						<option value="">Alignment</option>
						<option value="1" {{ (searchTerms.alignment == "1") ? "selected" : "" }}>
							Aligned
						</option>

						<option value="0" {{ (searchTerms.alignment == "0") ? "selected" : "" }}>
							Not aligned
						</option>
					</select>

					{# leech status #}
					<select name="leechStatus">
						<option value="">Leech status</option>

						<option value="1" {{ (searchTerms.leechStatus == "1") ? "selected" : "" }}>
							Freeleech
						</option>

						<option value="2" {{ (searchTerms.leechStatus == "2") ? "selected" : "" }}>
							Neutral leech
						</option>

						<option value="3" {{ (searchTerms.leechStatus == "3") ? "selected" : "" }}>
							Either
						</option>
{#
						<option value="0" {{ (searchTerms.leechStatus == "0") ? "selected" : "" }}>
							None
						</option>
#}

					</select>

					{# license #}
					<select name="license">
						<option value="">License</option>
						{% for item in env.META.Licenses %}
							<option value="{{ item }}" {{ (searchTerms.license == item) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

				</td>
			</tr>

			{# size #}
			<tr id="size">
				<th>Size</th>
				<td>

{# file size #}
					<input type="number" name="sizeMin" placeholder="Minimum" value="{{ searchTerms.sizeMin }}"/>
					&ndash;
					<input type="number" name="sizeMax" placeholder="Maximum" value="{{ searchTerms.sizeMax }}"/>

{# units #}
					<select name="sizeUnit">
						<option value="">Unit</option>

						<option value="0" {{ (searchTerms.sizeUnit == 0) ? "selected" : "" }}>
							B
						</option>

						<option value="1" {{ (searchTerms.sizeUnit == 1) ? "selected" : "" }}>
							KiB
						</option>

						<option value="2" {{ (searchTerms.sizeUnit == 2) ? "selected" : "" }}>
							MiB
						</option>

						<option value="3" {{ (searchTerms.sizeUnit == 3) ? "selected" : "" }}>
							GiB
						</option>

						<option value="4" {{ (searchTerms.sizeUnit == 4) ? "selected" : "" }}>
							TiB
						</option>
					</select>

				</td>
			</tr>

			{# tag filter #}
      <tr id="tagFilter">
      <th>Tags</th>
			<td>
			{# <td id="tagColumn"> #}
	  <select id="tagList" name="tagList[]" placeholder="Add or remove tags" multiple>
	       {% for item in officialTags %}
      <option value="{{ item }}" {{ (item in searchTerms.tagList) ? "selected" : "" }}>
	  {{ item }}
	  </option>
 {% endfor %}
 </select>
 
				{# <input type="text" id="tagList" name="tagList" placeholder="Tag list, separated by whitespace" value="{{ searchTerms.tagList }}"> #}

{# <div id="tagRow"> #}
{#
        <a id="toggleTagList" class="button u-pull-right">toggle tag list</a>
#}

				<input type="radio" name="tagsType" id="anyTags" value="0" {{ (searchTerms.tagsType == "0") ? "checked" : "" }}/>
				<label for="anyTags">Any&nbsp;tags</label>

				<input type="radio" name="tagsType" id="allTags" value="1" {{ (searchTerms.tagsType == "1") ? "checked" : "" }}/>
				<label for="allTags">All&nbsp;tags</label>
{#
        <p class="info">
				Use !tag to exclude tags
        </p>
#}

			</td>
		</tr>

{# tag list #}
{#
      <tr id="officialTagList">
      <th />
      <td class="wrapThis">
      {% for item in officialTags %}
      <a class="officialTag">{{ item }}</a>
 {% endfor %}
      </td>
      </tr>
#}
		</table>
	</section> {# advancedSearch #}


	{# sort options #}
	<section id="sortOptions">
	<h3>Sorting options</h3>

		<table class="torrentSearch">


      			{# category list #}
			<tr>
				<th>Categories</th>
				<td class="wrapThis">
				<select id="categories" name="categories[]" placeholder="Categories" multiple>
			{% for key, value in categories %}
      {% set categoryId = key + 1 %}
	  {#
      {% if searchTerms.categories.categoryId is defined and searchTerms.categories.categoryId == categoryId %}
      {% set checked = "checked" %}
      {% else %}
      {% set checked = "" %}
      {% endif %}
	  #}
	  <option value="{{ categoryId }}" {{ (categoryId in searchTerms.categories) ? "selected" : "" }}>
	  {{ value }}
	  </option>
	  {#
<span class="categoryLabel">
					<input type="checkbox" name="categories[{{ categoryId }}]" id="category{{ categoryId }}" value="{{ categoryId }}" {{ checked }} />
					<label for="category{{ categoryId }}">{{ value }}</label>
					</span>
					#}
			{% endfor %}
			</select>
				</td>
			</tr>


      			{# order by #}
			<tr id="orderBy">
				<th>Order by</th>
				<td>

					<select name="orderBy">
						<option value="timeAdded" {{ (searchTerms.orderBy == "timeAdded") ? "selected" : "" }}>
							Time added
						</option>

						<option value="year" {{ (searchTerms.orderBy == "year") ? "selected" : "" }}>
							Year
						</option>

						<option value="size" {{ (searchTerms.orderBy == "size") ? "selected" : "" }}>
							Size
						</option>

						<option value="snatched" {{ (searchTerms.orderBy == "snatched") ? "selected" : "" }}>
							Snatched
						</option>

						<option value="seeders" {{ (searchTerms.orderBy == "seeders") ? "selected" : "" }}>
							Seeders
						</option>

						<option value="leechers" {{ (searchTerms.orderBy == "leechers") ? "selected" : "" }}>
							Leechers
						</option>

						<option value="identifier" {{ (searchTerms.orderBy == "identifier") ? "selected" : "" }}>
							Accession number
						</option>

						<option value="random" {{ (searchTerms.orderBy == "random") ? "selected" : "" }}>
							Random
						</option>

					</select>

{# order way #}
					<select name="orderWay">
						<option value="desc" {{ (searchTerms.orderWay == "desc") ? "selected" : "" }}>
							Descending
						</option>

						<option value="asc" {{ (searchTerms.orderWay == "asc") ? "selected" : "" }}>
							Ascending
						</option>
					</select>

				</td>
			</tr>

			{# use torrent groups? #}
			<tr id="groupResults">
				<th>Group torrents</th>
				<td>
					<input type="checkbox" value="1" name="groupResults" {{ (searchTerms.groupResults) ? "checked" : "" }}/>
					<label for="groupResults">Group related torrents in the search results</label>
				</td>
			</tr>

			{# controls #}
			<tr >
      <th />
				<td id="formControls">
	<input type="submit" value="search" class="button-primary"/>

	<input type="button" id="resetSearchForm" value="reset" />
				</td>
			</tr>


		</table>
	</section> {# sortOptions #}



</form>
