{##
 # main torrent search form
 #}

<h2>Torrents</h2>

{# the form itself #}
<form id="torrentSearch" name="torrentSearch" method="get">


	{# simple search form #}
	<section id="simpleSearch">
		<div id="searchFormHeader">
			<h3>Simple search</h3>
			<a id="showComplexSearch" class="button button-orange u-pull-right">show complex search</a>
		</div>

		<table class="torrentSearch">

			{# universal search #}
			<tr>
				<td>
					<input type="text" name="simpleSearch" placeholder="Search for anything, anywhere" value="{{ searchTerms.simpleSearch }}">
				</td>
			</tr>
		</table>
	</section> {# simpleSearch #}


	{# complex search form #}
	<section id="complexSearch">
		<div id="searchFormHeader">
			<h3>Complex search</h3>
			<a id="showSimpleSearch" class="button button-orange u-pull-right">show simple search</a>
		</div>

		<table class="torrentSearch">

			{# essentials #}
			<tr id="essentials">
				<th>Essentials</th>
				<td>
					{# torrent title / organism / strain or variety #}
					<input type="text" name="complexSearch" placeholder="Torrent title / organism / strain or variety" value="{{ searchTerms.complexSearch }}"/>
				</td>
			</tr>

			{# numbers #}
			<tr id="numbers">
				<th>Numbers</th>
				<td>
					{# identifier / accession number / version #}
					<input type="text" name="numbers" placeholder="Identifier / accession number / version" value="{{ searchTerms.numbers }}"/>

					{# year #}
					<input type="text" name="year" placeholder="Year" value="{{ searchTerms.year }}"/>
				</td>
			</tr>

			{# people #}
			<tr id="people">
				<th>People</th>
				<td>
					{# department or lab / location #}
					<input type="text" name="location" placeholder="Department or lab / location" value="{{ searchTerms.location }}"/>

					{# creator #}
					<input type="text" name="creator" placeholder="Creator (ORCiD pending)" value="{{ searchTerms.creator }}"/>
				</td>
			</tr>

			{# files #}
			<tr id="files">
				<th>Files</th>
				<td>
					{# torrent description #}
					<input type="text" name="description" placeholder="Torrent or group description" value="{{ searchTerms.description }}"/>

					{# file list #}
					<input type="text" name="fileList" placeholder="File list or info hash" value="{{ searchTerms.fileList }}"/>
				</td>
			</tr>

			{# platforms #}
			<tr id="platforms">
				<th title="Start typing to filter the lists">Platforms</th>
				<td>

					{# sequences #}
					<select id="sequencePlatforms" name="platforms[]" placeholder="Sequences" multiple>
						{% for item in env.META.Platforms.Sequences %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# graphs #}
					<select id="graphPlatforms" name="platforms[]" placeholder="Graphs" multiple>
						{% for item in env.META.Platforms.Graphs %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# images #}
					<select id="imagePlatforms" name="platforms[]" placeholder="Images" multiple>
						{% for item in env.META.Platforms.Images %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# documents #}
					<select id="documentPlatforms" name="platforms[]" placeholder="Documents" multiple>
						{% for item in env.META.Platforms.Documents %}
							<option value="{{ item }}" {{ (item in searchTerms.platforms) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

				</td>
			</tr>

			{# formats #}
			<tr id="formats">
				<th title="Start typing to filter the lists">Formats</th>
				<td>

					{# sequenceFormats #}
					<select id="sequenceFormats" name="formats[]" placeholder="Sequences" multiple>
						<option disabled>Nucleotides</option>
						{% for key, value in env.META.Formats.Sequences %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}

						<option disabled>Proteins</option>
						{% for key, value in env.META.Formats.Proteins %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# imageFormats #}
					<select id="imageFormats" name="formats[]" placeholder="Images" multiple>
						<option disabled>Raster</option>
						{% for key, value in raster %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}

						<option disabled>Vector</option>
						{% for key, value in vector %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# otherFormats #}
					<select id="otherFormats" name="formats[]" placeholder="Other" multiple>

						<option disabled>Structured data/XML</option>
						{% for key, value in xmls %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}

						<option disabled>Plain text and binary</option>
						{% for key, value in extras %}
							<option value="{{ key }}" {{ (key in searchTerms.formats) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

					{# archiveFormats: todo #}
					<select id="archiveFormats" name="archives[]" placeholder="Archives" multiple>
						{% for key, value in env.META.Formats.Archives %}
							<option value="{{ key }}" {{ (key in searchTerms.archives) ? "selected" : "" }}>
								{{ key }}
							</option>
						{% endfor %}
					</select>

				</td>
			</tr>

			{# misc #}
			<tr id="misc">
				<th>Misc</th>
				<td>

					{# leech status #}
					<select name="leechStatus" id="leechStatus">
						<option value="">Leech status</option>

						<option value="1" {{ (searchTerms.leechStatus == "1") ? "selected" : "" }}>
							Freeleech
						</option>

						<option value="2" {{ (searchTerms.leechStatus == "2") ? "selected" : "" }}>
							Neutral leech
						</option>

						<option value="3" {{ (searchTerms.leechStatus == "3") ? "selected" : "" }}>
							Either
						</option>
					</select>

					{# scope #}
					<select name="scopes[]" id="scope" multiple>
						<option value="">Scope</option>
						{% for item in resolutions %}
							<option value="{{ item }}" {{ (item in searchTerms.scopes) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# license #}
					<select name="licenses[]" id="license" multiple>
						<option value="">License</option>

						{% for item in env.META.Licenses %}
							<option value="{{ item }}" {{ (item in searchTerms.licenses) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					{# alignment #}
					<input type="radio" name="alignment" id="yesAlighed" value="1" {{ (searchTerms.alignment == "1") ? "checked" : "" }}/>
					<label for="yesAlighed">Aligned</label>

					<input type="radio" name="alignment" id="noAligned" value="0" {{ (searchTerms.alignment == "0") ? "checked" : "" }}/>
					<label for="noAligned">Not&nbsp;aligned</label>

				</td>
			</tr>

			{# size #}
			<tr id="size">
				<th>Size</th>
				<td>

					{# file size #}
					<input type="number" name="sizeMin" placeholder="Minimum" value="{{ searchTerms.sizeMin }}"/>
					&ndash;
					<input type="number" name="sizeMax" placeholder="Maximum" value="{{ searchTerms.sizeMax }}"/>

					{# units #}
					<select name="sizeUnit">
						<option value="">Unit</option>

						<option value="0" {{ (searchTerms.sizeUnit == 0) ? "selected" : "" }}>
							B
						</option>

						<option value="1" {{ (searchTerms.sizeUnit == 1) ? "selected" : "" }}>
							KiB
						</option>

						<option value="2" {{ (searchTerms.sizeUnit == 2) ? "selected" : "" }}>
							MiB
						</option>

						<option value="3" {{ (searchTerms.sizeUnit == 3) ? "selected" : "" }}>
							GiB
						</option>

						<option value="4" {{ (searchTerms.sizeUnit == 4) ? "selected" : "" }}>
							TiB
						</option>
					</select>

				</td>
			</tr>
		</table>
	</section> {# advancedSearch #}


	{# sort options #}
	<section id="sortOptions">
		<h3>Sorting options</h3>

		<table class="torrentSearch">

			{# category list #}
			<tr>
				<th>Categories</th>
				<td class="wrapThis">
					<select id="categories" name="categories[]" placeholder="Categories" multiple>
						{% for key, value in categories %}
							{% set categoryId = key + 1 %}
							<option value="{{ categoryId }}" {{ (categoryId in searchTerms.categories) ? "selected" : "" }}>
								{{ value }}
							</option>
						{% endfor %}
					</select>
				</td>
			</tr>

			{# tag filter #}
			<tr id="tagFilter">
				<th>Tags</th>
				<td>
					<select id="tagList" name="tagList[]" placeholder="Add or remove tags" multiple>
						{% for item in officialTags %}
							<option value="{{ item }}" {{ (item in searchTerms.tagList) ? "selected" : "" }}>
								{{ item }}
							</option>
						{% endfor %}
					</select>

					<div class="inlineFlex">
					<input type="radio" name="tagsType" id="includeTags" value="includeTags" {{ (searchTerms.tagsType == "includeTags") ? "checked" : "" }}/>
					<label for="includeTags">Include&nbsp;<strong>all</strong></label>

					<input type="radio" name="tagsType" id="excludeTags" value="excludeTags" {{ (searchTerms.tagsType == "excludeTags") ? "checked" : "" }}/>
					<label for="excludeTags">Exclude&nbsp;<strong>any</strong></label>

					{#
					<span>
						Use <code>-tag</code> or <code>!tag</code> to exclude tags
					</span>
					#}
					</div>
					
				</td>
			</tr>

			{# ordering #}
			<tr id="ordering">
				<th>Order by</th>
				<td>

					<select name="orderBy" id="orderBy" placeholder="Attribute">
						<option value="timeAdded" {{ (searchTerms.orderBy == "timeAdded") ? "selected" : "" }}>
							Time added
						</option>

						<option value="year" {{ (searchTerms.orderBy == "year") ? "selected" : "" }}>
							Year
						</option>

						<option value="size" {{ (searchTerms.orderBy == "size") ? "selected" : "" }}>
							Size
						</option>

						<option value="snatched" {{ (searchTerms.orderBy == "snatched") ? "selected" : "" }}>
							Snatched
						</option>

						<option value="seeders" {{ (searchTerms.orderBy == "seeders") ? "selected" : "" }}>
							Seeders
						</option>

						<option value="leechers" {{ (searchTerms.orderBy == "leechers") ? "selected" : "" }}>
							Leechers
						</option>

						<option value="identifier" {{ (searchTerms.orderBy == "identifier") ? "selected" : "" }}>
							Accession number
						</option>

						<option value="random" {{ (searchTerms.orderBy == "random") ? "selected" : "" }}>
							Random
						</option>

					</select>

					{# order way #}
					<select name="orderWay" id="orderWay" placeholder="Direction">
						<option value="desc" {{ (searchTerms.orderWay == "desc") ? "selected" : "" }}>
							Descending
						</option>

						<option value="asc" {{ (searchTerms.orderWay == "asc") ? "selected" : "" }}>
							Ascending
						</option>
					</select>

					<div class="inlineFlex">
						<input type="checkbox" value="true" name="groupResults" {{ (searchTerms.groupResults) ? "checked" : "" }}/>
						<label for="groupResults">Group&nbsp;torrents</label>

						<input type="checkbox" value="true" name="openaiContent" {{ (searchTerms.openaiContent) ? "checked" : "" }}/>
						<label for="openaiContent">OpenAI&nbsp;content</label>
					</div>

				</td>
			</tr>

			{# formControls #}
			<tr>
				<th/>
				<td id="formControls">
					<input type="submit" value="search" class="button-primary"/>

					<input type="button" id="resetSearchForm" value="reset"/>
				</td>
			</tr>


		</table>
	</section> {# sortOptions #}

</form>
