{##
 # torrent upload (and edit?) form
 # broken out into various twig templates
 # that's an okay way to do it, methinks
 #}

{% extends "base.twig" %}

{% block content %}

	<h2>Upload a torrent</h2>

	{# notice #}
	{% set variables = {"foo": "bar"} %}
	{% include "torrentForm/notice.twig" with variables %}

	{# announce and source #}
	{% set variables = {"foo": "bar"} %}
	{% include "torrentForm/announceSource.twig" with variables %}

	{# the upload form itself #}
	<section>
		<form
			method="post">

			{# hidden fields #}
			{{ form_token(query.server.REQUEST_URI) }}
			<input type="hidden" name="submit" value="true"/>
			<input type="hidden" name="auth" value="{{ user.extra.AuthKey }}"/>

			{% if not newTorrent %}
				<input type="hidden" name="action" value="takeedit"/>
				<input type="hidden" name="torrentId" value="{{ torrentId }}"/>
				<input type="hidden" name="categoryId" value="{{ categoryId }}"/>
			{% endif %}


			{% if torrent and torrent.GroupID %}
				<input type="hidden" name="groupId" value="{{ torrent.GroupID }}"/>
				<input type="hidden" name="categoryId" value="{{ torrent.CategoryID }}"/>
			{% endif %}

			{% if torrent and torrent.RequestID %}
				<input type="hidden" name="requestId" value="{{ torrent.RequestID }}"/>
			{% endif %}

			{# start the table #}
			{% if newTorrent %}
				<section>
					<table class="torrent_form">

						<h3>Basic info</h3>

						{# upload .torrent file #}
						{% set variables = {"foo": "bar"} %}
						{% include "torrentForm/torrentFile.twig" with variables %}

						{# category select #}
						{% set variables = {"foo": "bar"} %}
						{% include "torrentForm/categoryId.twig" with variables %}

					</table>
				</section>
			{% endif %}

			{# torrent group information #}
			<section>
				<h3>About the study</h3>
				<p>
					Information about the
					<em>torrent group,</em>
					that relates to the overall study
				</p>

				<table
					class="torrent_form skeletonFix">

					{# identifier #}
					{% set variables = {"db": env.DB.identifier, "value": (torrent.identifier) ? torrent.identifier : ""} %}
					{% include "torrentForm/identifier.twig" with variables %}

					{# version #}
					{% set variables = {"db": env.DB.version, "value": (torrent.version) ? torrent.version : ""} %}
					{% include "torrentForm/version.twig" with variables %}

					{# title, subject, and object #}
					{% if newTorrent %}
						{% set variables = {
							"db": env.DB,
							"title": (torrent.title) ? torrent.title : "",
							"subject": (torrent.subject) ? torrent.subject : "",
							"object": (torrent.object) ? torrent.object : "",
						} %}
						{% include "torrentForm/titles.twig" with variables %}
					{% endif %}

					{# creatorList #}
					{% if newTorrent %}
						{% set variables = {"db": env.DB.version, "value": (torrent.creatorList) ? torrent.creatorList : ""} %}
						{% include "torrentForm/creatorList.twig" with variables %}
					{% endif %}

					{# workgroup #}
					{% if newTorrent %}
						{% set variables = {"db": env.DB.workgroup, "value": (torrent.workgroup) ? torrent.workgroup : ""} %}
						{% include "torrentForm/workgroup.twig" with variables %}
					{% endif %}

					{# location #}
					{% if newTorrent %}
						{% set variables = {"db": env.DB.location, "value": (torrent.location) ? torrent.location : ""} %}
						{% include "torrentForm/location.twig" with variables %}
					{% endif %}

					{# year #}
					{% set variables = {"db": env.DB.year, "value": (torrent.year) ? torrent.year : ""} %}
					{% include "torrentForm/year.twig" with variables %}

					{# tagList #}
					{% set variables = {"db": env.DB.tag_list, "value": (torrent.tagList) ? torrent.tagList : ""} %}
					{% include "torrentForm/tagList.twig" with variables %}	

				</table>
			</section>


			{# individual torrent information #}
			<section>
				<h3>About the data</h3>
				<p>
					Information about the
					<em>individual torrent,</em>
					that appears as part of the group
				</p>

				<table
					class="torrent_form skeletonFix">

					{# platform #}
					{% set variables = {"db": env.META.Platforms, "value": (torrent.platform) ? torrent.platform : ""} %}
					{% include "torrentForm/platforms.twig" with variables %}

					{# format #}
					{% set variables = {"db": env.META.Formats, "value": (torrent.format) ? torrent.format : ""} %}
					{% include "torrentForm/formats.twig" with variables %}

					{# scopes #}
					{% set variables = {"db": env.META.Formats, "value": (torrent.scope) ? torrent.scope : ""} %}
					{% include "torrentForm/scopes.twig" with variables %}

					{# archive #}
					{% set variables = {"db": env.META.Formats, "value": (torrent.archive) ? torrent.archive : ""} %}
					{% include "torrentForm/archive.twig" with variables %}

					{# license #}
					{% set variables = {"db": env.DB.license, "value": (torrent.license) ? torrent.license : ""} %}
					{% include "torrentForm/license.twig" with variables %}

				</table>
			</section>


		</form>
	</section>
{% endblock %}


{% block sidebar %}

	{% include "torrentForm/sidebar.twig" %}

{% endblock %}
