{% extends "base.twig" %}


{% block content %}

<section>
<h2>Complete your purchase</h2>

<p>
    Thank you for shopping at {{ env.siteName }}.
    Please complete your purchase of {{ bonusPoints.friendlyItemNames[item] }}.
    We appreciate your contribution to the site.
</p>

{% if not actionRequired %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

    <input type="submit" value="complete purchase">
</form>
{% endif %} {# {% if not actionRequired %} #}
<p>

</section>

{% if actionRequired %}
<section>
<h3>Action required</h3>

<p>
    We need more information to complete your purchase.
    Please enter the requested information in the form below.
</p>


{# specificFreeleech #}
{% if item == "specificFreeleech" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="torrentId">Torrent identifier</label>
</p>

<p>
    <input type="text" name="torrentId" value="" required>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "specificFreeleech" %} #}


{# neutralLeechTag or freeleechTag #}
{% if item == "neutralLeechTag" or item == "freeleechTag" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="tagId">Which tag would you like to use?</label>
</p>

<p>
    <select class="select" placeholder="Select a tag" required>
        {% for tag in tags %}
        <option value="{{ tag.ID }}">{{ tag.Name }}</option>
        {% endfor %}
    </select>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "neutralLeechTag" or item == "freeleechTag" %} #}


{# neutralLeechCategory or freeleechCategory #}
{% if item == "neutralLeechCategory" or item == "freeleechCategory" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="categoryId">Which category would you like to use?</label>
</p>

<p>
    <select class="select" name="categoryId" placeholder="Select a category" required>
        {% for item in env.CATS %}
        <option value="{{ item.ID }}">{{ item.Name }}</option>
        {% endfor %}
    </select>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "neutralLeechCategory" or item == "freeleechCategory" %} #}


{# customTitle #}
{% if item == "customTitle" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="customTitle">Please enter your custom title (max 64 characters)</label>
</p>

<p>
    <input type="text" name="customTitle" id="customTitle" max="64" value="" required>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "customTitle" %} #}


{# glitchUsername #}
{% if item == "glitchUsername" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

    {# todo: delete the effect #}

    <input type="submit" value="complete purchase">
</form>
{% endif %} {# {% if item == "glitchUsername" %} #}


{# snowflakeProfile #}
{% if item == "snowflakeProfile" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="snowflakeEmoji">Please enter the emoji you'd like to use</label>
</p>

<p>
    <input type="text" name="snowflakeEmoji" value="" required>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "snowflakeProfile" %} #}


{# lotteryBadge #}
{% if item == "lotteryBadge" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="bets">Please enter up to 20 numbers between 1 and 80, separated by any amount of whitespace</label>
</p>

<p>
    <select class="select" name="bets" multiple>
        {% for i in range(1, 80) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>
</p>

<p>
    <input type="submit" class="button button-primary" value="try your luck">
</p>
</form>
{% endif %} {# {% if item == "lotteryBadge" %} #}


{# auctionBadge or coinBadge #}
{% if item == "auctionBadge" or item == "coinBadge" %}
<form method="post">
    {{ form_token("") }}

    <input type="hidden" name="item" value="{{ item }}">

<p>
    <label for="amount">How many points would you like to spend?</label>
</p>

<p>
    <input type="number" name="amount" id="amount" value="" required>
</p>

<p>
    <input type="submit" class="button button-primary" value="complete purchase">
</p>
</form>
{% endif %} {# {% if item == "auctionBadge" or item == "coinBadge" %} #}


</section>
{% endif %} {# {% if actionRequired %} #}

{% endblock %}


{% block sidebar %}

{{ include("bonusPoints/sidebar.twig") }}

{% endblock %}
