{# information #}
<section>
<h3>Information</h3>

<table>
    <tr>
        <th>Available balance</th>
        <td>{{ bonusPoints.bonusPoints|number_format }}</td>
    </tr>

    <tr>
        <th>Accrual per hour</th>
        <td>{{ bonusPoints.pointsOverTime.hourly|number_format }}</td>
    </tr>

    <tr>
        <th>Per day</th>
        <td>{{ bonusPoints.pointsOverTime.daily|number_format }}</td>
    </tr>

    <tr>
        <th>Per week</th>
        <td>{{ bonusPoints.pointsOverTime.weekly|number_format }}</td>
    </tr>

    <tr>
        <th>Per month</th>
        <td>{{ bonusPoints.pointsOverTime.monthly|number_format }}</td>
    </tr>
</table>

</section>

{# exchange currency #}
<section>
<h3>Exchange currency</h3>

<p>
    {{ env.bonusPoints }} and upload trade at a rate of 1 point = 1 KiB.
    You'll be able to review your purchase beforehand.
    Each transaction incurs a {{ bonusPoints.exchangeTax * 100 }}% processing fee.
</p>

<form method="post" action="/store/checkout/pointsToUpload">
    {{ form_token("/store/checkout/pointsToUpload") }}

    <input type ="number" name="pointsAmount" placeholder="How many {{ env.bonusPoints }} to exchange" max="{{ bonusPoints.bonusPoints }}" required>

    <button type="submit" class="button button-primary">{{ env.bonusPoints }} → upload</button>
</form>

    <hr>
    <br>

<form method="post" action="/store/checkout/uploadToPoints">
    {{ form_token("/store/checkout/uploadToPoints") }}

    <input type="number" name="uploadAmount" placeholder="How much upload to exchange" required>

    <select name="dataUnit" class="select">
        <option value="MiB">MiB</option>
        <option value="GiB">GiB</option>
        <option value="TiB">TiB</option>
    </select>

    <button type="submit" class="button button-primary">upload → {{ env.bonusPoints }}</button>
</form>

    <hr>
    <br>

    <form>
        <a href="/store" class="button button-orange">back to storefront</a>
    </form>
</section>