{% extends "base.twig" %}


{% block content %}

<section>
<h2>{{ env.bonusPoints }} web store</h2>

<p>
    Please find below a list of things you can buy with your {{ env.bonusPoints }}.
</p>
</section>


{# torrents #}
<section>
<h3>Torrents</h3>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="/store/checkout/randomFreeleech">Random freeleech</a></td>
            <td>{{ bonusPoints.randomFreeleechCost|number_format }}</td>
            <td>Make a random torrent group freeleech for one day</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/specificFreeleech">Specific freeleech</a></td>
            <td>{{ bonusPoints.specificFreeleechCost|number_format }}</td>
            <td>Make a torrent group of your choice freeleech for one day</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/freeleechToken">Freeleech token</a></td>
            <td>{{ bonusPoints.freeleechTokenCost|number_format }}</td>
            <td>Purchase a freeleech token that you can use at leisure</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/neutralLeechTag">Neutral leech a tag</a></td>
            <td>{{ bonusPoints.neutralLeechTagCost|number_format }}</td>
            <td>Make all torrents with a certain tag neutral leech for one day</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/freeleechTag">Freeleech a tag</a></td>
            <td>{{ bonusPoints.freeleechTagCost|number_format }}</td>
            <td>Make all torrents with a certain tag freeleech for one day</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/neutralLeechCategory">Neutral leech a category</a></td>
            <td>{{ bonusPoints.neutralLeechCategoryCost|number_format }}</td>
            <td>Make all torrents in a certain category neutral leech for one day</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/freeleechCategory">Freeleech a category</a></td>
            <td>{{ bonusPoints.freeleechCategoryCost|number_format }}</td>
            <td>Make all torrents in a certain category freeleech for one day</td>
        </tr>

    </tbody>
</table>
</section>


{# site features #}
{#
<section>
<h3>Site features</h3>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>foo</td>
            <td>bar</td>
            <td>baz</td>
        </tr>
    </tbody>
</table>
</section>
#}


{# user profile #}
<section>
<h3>User profile</h3>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><a href="/store/checkout/personalCollage">Personal collage</a></td>
            <td>{{ bonusPoints.personalCollageCost|number_format }}</td>
            <td>Purchase an additional personal collage for your profile</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/invite">Invite</a></td>
            <td>{{ bonusPoints.inviteCost|number_format }}</td>
            <td>Purchase an invite for a friend or a fun enemy</td>
        </tr>

        <tr>
            <td><a href="/store/checkout/customTitle">Custom title</a></td>
            <td>{{ bonusPoints.customTitleCost|number_format }}</td>
            <td>Purchase a cusom title that's displayed with your username</td>
        </tr>

        {% if not hasGlitchUsername %}
        <tr>
            <td><a href="/store/checkout/glitchUsername">Glitch username effect</a></td>
            <td>{{ bonusPoints.glitchUsernameCost|number_format }}</td>
            <td>Display a glitchy text effect for your username</td>
        </tr>
        {% else %}
        <tr>
            <td><a href="/store/checkout/glitchUsername?delete=true">Glitch username effect</a></td>
            <td>{{ bonusPoints.glitchUsernameUpdateCost|number_format }}</td>
            <td>Delete your username glitch effect</td>
        {% endif %}

        {% if not hasSnowflakeProfile %}
        <tr>
            <td><a href="/store/checkout/snowflakeProfile">Profile snowflake effect</a></td>
            <td>{{ bonusPoints.snowflakeCreateCost|number_format }}</td>
            <td>Add a snowflake effect to your profile with an emoji of your choice</td>
        </tr>
        {% else %}
        <tr>
            <td><a href="/store/checkout/snowflakeProfile?delete=true">Profile snowflake effect</a></td>
            <td>{{ bonusPoints.snowflakeUpdateCost|number_format }}</td>
            <td>Update your profile's snowflake emoji or delete the effect</td>
        </tr>
        {% endif %}

    </tbody>
</table>
</section>


{# badges #}
<section>
<h3>Badges</h3>

{# sequential badges #}
<p>
    These badges must be purchased sequentially.
    To buy the next one, you first need all the prior ones.
</p>

<p>
    <a href="/store/checkout/sequentialBadge" class="button button-primary">buy</a>
</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {% for key, value in env.sequentialBadges %}
        <tr>
            <td>{{ displayBadge(key, false) }}</td>
            <td>{{ value|number_format }}</td>

            {% if hasBadge(user.core.id, key) %}
                <td><s>{{ badgeDescription(key) }}</s></td>
            {% else %}
                <td>{{ badgeDescription(key) }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>

{# lottery badges #}
<h4>Lottery badges</h4>

<p>
    <a href="https://en.wikipedia.org/wiki/Keno" target="_blank" class="external">Play a game of keno</a> for the chance to win a badge.
    The rules are simple: pick up to 20 numbers between 1 and 80, and bet {{ env.bonusPoints }} to increase your odds of winning a rare badge.
</p>

<p>
    <a href="/store/checkout/lotteryBadge" class="button button-primary">play now</a>
</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Odds</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        {% for key, value in env.lotteryBadges %}
        <tr>
            <td>{{ displayBadge(key, false) }}</td>
            <td>{{ value }}</td>
            <td>{{ badgeDescription(key) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</section>

{# auction badge #}
<h4>Auction badge</h4>

<p>
    Bid on a chance to win this badge.
    The highest bidder wins, and the auction resets every month.
</p>

<p>
    <a href="/store/checkout/auctionBadge" class="button button-primary">bid</a>
</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Minimum price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ displayBadge(env.auctionBadgeId, false) }}</td>
            <td>{{ (bonusPoints.auctionBadgeCurrentCost + bonusPoints.auctionBadgePremium)|number_format }}</td>
            <td>{{ badgeDescription(env.auctionBadgeId) }}</td>
        </tr>
    </tbody>
</table>
</section>

{# pyramid scheme badge #}
<h4>Coin badge</h4>
<p>
    "It's not a pyramid, it's a triangle!"
    {{ env.siteName }} is proud to present the investment opportunity of a lifetime.
    Purchase this coveted badge now, because its price will only increase in the future.
</p>

<p>
    <a href="/store/checkout/coinBadge" class="button button-primary">invest</a>
</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Minimum price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ displayBadge(env.coinBadgeId, false) }}</td>
            <td>{{ (bonusPoints.coinBadgeCurrentCost + bonusPoints.coinBadgePremium)|number_format }}</td>
            <td>{{ badgeDescription(env.coinBadgeId) }}</td>
        </tr>
    </tbody>
</table>

{# random badge #}
<h4>Random badge</h4>
<p>
    Purchase a badge whose icon is chosen at random.
    It's your chance to display something truly unique.
    There's no guarantee the pictured badge is what you get.
</p>

<p>
    <a href="/store/checkout/randomBadge" class="button button-primary">buy</a>
</p>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><span class="badge">{{ randomBadgeIcon }}</span></td>
            <td>{{ bonusPoints.randomBadgeCost|number_format }}</td>
            <td>Random Badge: {{ randomBadgeDescription }}</td>
        </tr>
    </tbody>
</table>
</section>

{% endblock %}


{% block sidebar %}

{{ include("bonusPoints/sidebar.twig") }}

{% endblock %}
