{% extends "base.twig" %}

{% if form is not defined %}
{% set form = "create" %}
{% endif %}

{% block content %}

{# no messages #}
{% if inbox.topic_list.topics is empty %}
<p>You have no messages :(</p>
{% endif %}

{# messages table #}
{% if inbox.topic_list.topics is not empty %}
<table id="privateMessages">
    <tr>
        <th>{# checkbox #}</th>
        <th>Subject</th>
        <th>Participants</th>
        <th>Date</th>
    </tr>

    {% for topic in inbox.topic_list.topics %}
    <tr>
        <td>
            <input type="checkbox" id="delete[]" name="delete[]" value="{{ topic.id }}">
        </td>

        <td>
            {# todo: hardcoded username #}
            <a href="/user/ohm/messages/{{ topic.slug }}">{{ topic.title }}</a>
        </td>

        <td>
            <input type="checkbox" id="delete[]" name="delete[]" value="{{ topic.id }}">
        </td>

        <td>
            <input type="checkbox" id="delete[]" name="delete[]" value="{{ topic.id }}">
        </td>


    </tr>
    {% endfor %}

</table>
{% endif %} {# topics is not empty #}


{# create/reply form #}
<section class="createTopicPostPM">

    {% if form == "create" %}
    <h3>Send a new message</h3>
    {% endif %}

    {% if form == "reply" %}
    <h3>Reply to message</h3>
    {% endif %}

    <form method="post">
        {{ form_token(query.server.REQUEST_URI) }}

        <input type="text" id="participants" name="participants" placeholder="Send the message to" value="" required>

        <input type="text" id="subject" name="subject" placeholder="Message subject line" value="" required>

        {% set vars = { "id": "body", "name": "body", "placeholder": "Draft your message", "value": "" } %}
        {{ include("_base/textarea.twig", vars)|raw }}

        <input type="submit" id="{{ form }}" name="{{ form }}" value="send message" class="button-primary">

        <input type="button" id="preview" name="preview" value="preview">
    </form>
</section>

{% endblock %}


{% block sidebar %}

{{ include("discourse/messages/sidebar.twig") }}

{% endblock %}